[2018-09-17 20:13] erwa opened #7 "Set up continuous integration TonY repo"
Would be nice to set up continuous integration for this repo. Travis CI is the most popular tool, per https://blog.github.com/2017-11-07-github-welcomes-all-ci-tools/. It's free.

Would be good to run build on every Pull Request.

An admin of TonY project (@oliverhu or @chriseppstein) can set it up here: https://travis-ci.org/linkedin/TonY

[2018-09-17 23:02] oliverhu commented on #7
Added and enforced that every PR must pass CI before can be merged.

[2018-09-17 23:02] #7 closed

[2018-09-18 07:15] CharlieUnderwood opened #11 "how to run tensorflow model on several workers (several mapreduce datanode)?"

[2018-09-18 16:55] oliverhu commented on #11
@CharlieUnderwood  please checkout the example : https://github.com/linkedin/TonY/tree/master/tony-examples

[2018-09-19 21:12] #11 closed

[2018-09-21 01:24] erwa opened #16 "tony-examples/README.md should be updated to use new `tony.application.security.enabled` property"
Currently, the README.md still mentions the old `tony.application.insecure-mode` property, which was changed to `tony.application.security.enabled` in https://github.com/linkedin/TonY/pull/14.

[2018-09-21 01:56] oliverhu commented on #16
also the wiki pls

[2018-09-21 18:47] erwa commented on #16
Ref: https://github.com/linkedin/TonY/wiki/TonY-Configurations still refers to `tony.application.insecure-mode` rather than `tony.application.security.enabled`

[2018-09-28 23:10] oliverhu commented on #16
Resolved

[2018-09-28 23:10] #16 closed

[2018-10-03 03:20] erwa opened #24 "TonY application hangs if it requests more GPUs per task than are available on a single node"
Suppose each node in a cluster only has 4 GPUs. If a TonY application requests 5 GPUs per worker (`tony.worker.gpus = 5`), YARN will give TonY containers with 4 GPUs, but TonY will not start anything in those containers due to an NPE:

[code]

This comes from `ContainerLauncher.run()`:

[code]

Instead of hanging, TonY should probably either:

1. Fail the application if it requests more GPUs per t

[2018-10-03 03:30] erwa commented on #24
That would be useful. I see YARN has `yarn.nodemanager.resource.cpu-vcores` and `yarn.nodemanager.resource.memory-mb`, which seem to define the max number of vcores or memory a container can request. We could add/use something similar for GPUs.

[2018-10-03 16:27] zhe-thoughts opened #25 "Usage section of README should include how to use Notebook"
WIth https://github.com/linkedin/TonY/pull/13, Notebook is another way to submit a TonY job, and we should include it in the README.

[2018-10-03 23:33] erwa commented on #24
I was testing with an older version of TonY but will try again with the latest code, which has https://github.com/linkedin/TonY/pull/12/files, which looks like it fixes this issue.

[2018-10-04 06:27] oliverhu opened #27 "PyTorch support"
Support PyTorch.

[2018-10-04 06:28] oliverhu opened #28 "TonY Job History Server Phase I"
A job history server for TonY jobs.

- Metrics collection (CPU/MEM/GPU utilization)
- UI for displaying counter and other information

[2018-10-04 23:03] erwa commented on #24
Verified that this is no longer an issue with the latest TonY code. YARN will return a container with 4 GPUs (if that's the most available on one node, even if user requested 5 GPUs), and TonY will continue with launching a TaskExecutor in the container.

[2018-10-04 23:03] #24 closed

[2018-10-05 17:52] hungj opened #30 "Print a custom error message when container runs out of memory"
This is a very common error, right now the AM just prints the diagnostics with an error code -104, which doesn't make sense if you haven't memorized what the error codes mean.

[2018-10-05 18:16] #30 closed

[2018-10-05 21:23] oliverhu opened #31 "TonY hangs if a worker is killed due to OOM"
TonY hangs if a worker is killed due to OOM

[2018-10-05 21:29] oliverhu commented on #31
We should have some doc/tests for how we handle different edge cases.

[2018-10-06 23:02] erwa opened #32 "TonY should launch TensorBoard in separate container"
Currently, TonY allocates the TensorBoard port on the chief worker (worker 0) and expects the chief worker task to read in the port from the environment and launch the TensorBoard process. However, often, this can cause the chief worker to fail with OutOfMemoryExceptions. To help mitigate this, TonY should allocate a separate container just for running TensorBoard. This would be more similar to wh

[2018-10-07 08:38] oliverhu opened #33 "Add TF_CONFIG variable in system environment"
Massage CLUSTER_SPEC, TASK_INDEX, JOB_NAME into a TF_CONFIG env variable to support Estimator API

[2018-10-08 08:55] Pydataman opened #34 "build tony和使用gpu的一些问题"
Java version：1.8.0_18
tensorflow-gpu： 1.9
运行如下命令：
./gradlew build

会出现如下错误：
com.linkedin.tony.TestTonyE2E.setup FAILED
    java.lang.IllegalArgumentException: The value of property bind.address must not be null
        at com.google.common.base.Preconditions.checkArgument(Preconditions.java:148)
        at org.apache.hadoop.conf.Configuration.set(Configuration.java:1357)
        at org.apache.hado

[2018-10-08 09:40] oliverhu commented on #34
@Pydataman
./gradlew build 会build+test，如果你只需要build 可以跑 ./gradlew build -x test
那个test会设置一个本地的hdfs/yarn cluster然后跑test，看你的log问题应该是MiniYARN cluster拿不到port没法起来。不过这不会影响build。

第二个问题看起来好像是你的environment variable没有setup好，你试试加这个flag行不行
`--shell_env=/usr/local/cuda-9.1/lib64 //那个包含libcublas.so.9.0的文件夹`

[2018-10-08 10:40] Pydataman commented on #34
@oliverhu
谢谢哈 第二个刚才解决了，就是您说的原因。请问一下tony为什么需要一个python虚拟环境，本地环境可以么？

[2018-10-08 10:56] oliverhu commented on #34
需要一个python虚拟环境就是假如 你本地环境没有那些依赖的话 （比如每个用户都要不同版本的tensorflow dependency)，可以通过传一个虚拟环境来实现。但如果你本地环境已经有了TensorFlow而且大家都用一个版本的tf，那不传入--python_venv 然后--python_binary_path直接传python就好了

[2018-10-09 01:38] Pydataman commented on #34
@oliverhu 谢谢哈 我还以为这个是必需的。

[2018-10-09 19:19] #34 closed

[2018-10-10 23:43] oliverhu commented on #27
Supported in #36

[2018-10-11 20:55] #27 closed

[2018-10-16 20:52] hungj commented on #32
@erwa this should be possible now. You can try specifying tony.chief.instances=1 and tony.chief.memory=8g or whatever you want.

[2018-10-17 00:52] erwa commented on #32
That's awesome. I guess all the user needs to do is update their script to add a `if is_chief(): launch_tensorboard()`

[2018-10-17 09:08] lecoan opened #41 "Container exited with 132 when runs example mnist-tensorflow"
I am trying to follow the mnist-tensorflow in tony-example, but when I run the following command, I found my containers exited with code 132 and I can't find why, which really confused me. Any Ideas?

java version: 1.8.0_181

Hadoop version: 3.1.1

[code]

tony.xml

[code]

the console:

[code]

the amstdout.log:

[code]

and the worker container:

[code]

[2018-10-17 10:54] lecoan commented on #41
OK, I found the reason. the CPU on my Server is too old, so the latest tensorflow doesn't support it. Changing the version to 1.5 fix the problem

[2018-10-17 10:54] #41 closed

[2018-10-17 18:02] oliverhu opened #42 "mnist_distributed.py example doesn't work with TF 1.11"
mnist_distributed.py example doesn't work with TF 1.11. It complains FLAGS doesn't have `ports` or `logdir`

[2018-10-17 18:02] oliverhu commented on #42
@erwa  does this work with 1.12 rc?

[2018-10-17 21:49] oliverhu opened #44 "Update doc for MiniTony for model dev"
Currently, MiniTony is only used in our unit tests. We should provide doc that how other folks can leverage to iterate their model code faster without submitting the model code to a remote cluster.

[2018-10-17 21:50] #33 closed

[2018-10-17 21:52] oliverhu opened #45 "JupyterHub support"
Investigate how to spawning containers for JupyterHub's notebooks.

[2018-10-18 02:48] erwa commented on #42
Will try it out when I get a chance

[2018-10-18 09:05] ChenjunZou opened #46 "ps process is not killed after application finishes"
When I run the mnist example,  the ps process is still running after the tony application finishes.
Comment in tensorflow/python/training/server_lib.py in Tensorflow writes :
  This method currently blocks forever.

should Tony do the cleanup?

[2018-10-18 16:49] oliverhu commented on #46
TonY stops all containers once the worker tasks finish and conclude the training, are you seeing the training hanging ?

[2018-10-18 17:50] hungj opened #47 "Fast-fail on chief worker failure"
If chief worker fails, we should immediately fail the application. (i.e. the underlying TF distributed training may hang, so TonY should just fail the application.)

Other workers failing is a separate issue. In theory if they fail the training can continue. But it can be configurable.

[2018-10-18 20:18] #31 closed

[2018-10-18 20:18] oliverhu commented on #31
Fixed in #43

[2018-10-19 06:56] ChenjunZou commented on #46
yes,  when application completes,  two processes still remain, both are ps server.
  501 74509     1   0  1:13下午 ttys003    0:27.74 /Library/Java/JavaVirtualMachines/jdk1.8.0_112.jdk/Contents/Home/bin/java -Xmx1536m com.linkedin.tony.TaskExecutor --am_address 172.17.12.212:10174 --task_command venv/venv/bin/python tony/mnist/mnist_distributed.py --venv venv.zip
  501 74600 74509   0  1:13下午 ttys00

[2018-10-20 16:48] drr342 opened #50 "Problem launching job"
Hello,
I am having the following issue when trying to launch a job:

java.lang.RuntimeException: Failed to get FS delegation token for default FS.
        at com.linkedin.tony.TonyClient.getTokens(TonyClient.java:555)
        at com.linkedin.tony.TonyClient.run(TonyClient.java:177)
        at com.linkedin.tony.TonyClient.start(TonyClient.java:716)
        at com.linkedin.tony.TonyClient.start(Tony

[2018-10-20 20:56] oliverhu commented on #50
@drr342 if you look at https://github.com/linkedin/TonY/tree/master/tony-examples/mnist-tensorflow,

If you don't have security enabled in your cluster, you can disable security with
[code]

The getDelegationToken API does exist in https://github.com/apache/hadoop/blob/f069d38c8d3c0bfa91b70a60e4e556ec708fc411/hadoop-common-project/hadoop-common/src/main/java/org/apache/hadoop/fs/FileSystem.java#L6

[2018-10-20 21:01] oliverhu commented on #46
Weird, if the application has finished, the NM should kill the container process regardless of the heartbeat

[2018-10-22 10:04] ChenjunZou commented on #46
The cause is found,  It is related to the system.
I use macbook for testing,
[kill signal](https://github.com/apache/hadoop/blob/e50334513c781a10368e7353bec6674f89eb0a7b/hadoop-common-project/hadoop-common/src/main/java/org/apache/hadoop/util/Shell.java#L337) is not killing subprocesses if setsid is not available and macbook doesn't support it yet.

it is not related to Tony and the pr is closed n

[2018-10-22 10:04] #46 closed

[2018-10-22 10:12] ChenjunZou commented on #46
I found the cause, it is not related to Tony project.
I use macbook for testing,
[container kill command](https://github.com/apache/hadoop/blob/c696419f3e4429473fc9577a8a96a2c601ae4700/hadoop-common-project/hadoop-common/src/main/java/org/apache/hadoop/util/Shell.java#L338) is not killing subprocesses because setsid is not available in my mac.

The issue is closed.

[2018-10-22 17:37] oliverhu commented on #46
cool, thanks for getting back to us

[2018-10-22 18:45] oliverhu commented on #50
Please reopen if you still see issues.

[2018-10-22 18:45] #50 closed

[2018-10-25 20:49] #47 closed

[2018-10-26 00:56] oliverhu opened #54 "hdfs_classpath should be an array"
Now we can only localize one hdfs classpath, we should be able to pull resources from different hdfs_classpath. This should also be renamed to hdfs_resources

[2018-10-26 00:57] oliverhu opened #55 "Auto generated archive & config files not cleaned up"
We generate appid-tony.zip + appid-tony-final.xml and leave them in the client.. should clean them up after job has finished.

[2018-10-26 21:00] erwa opened #56 "tony-cli-all fat jar should exclude com/sun/jersey classes since they are CDDL licensed"
Hadoop transitively brings in jersey classes, which are CDDL-1.0-licensed. Since we do not use the CDDL 1.0 license, we should not be including the jersey classes in the tony-cli-all fat jar.

Ref: https://opensource.org/licenses/CDDL-1.0

[2018-10-29 22:44] erwa opened #58 "Remove registration timeout and retry logic"
Currently, there are a couple timeouts involved in worker/parameter server registration:

* `tony.task.registration-timeout-sec` (default 300 sec)
* 120 sec polling until non-null in TaskExecutor.registerAndGetClusterSpec()
[code]

If there are large container scheduling/start-up delays, jobs can fail due to this. We should remove these timeouts entirely. We also then don't need the `tony.task.reg

[2018-10-30 19:09] erwa opened #60 "Run Play tests during build"
Currently, the Play tests BrowserTest and HomeControllerTest do not run as part of the build. For example, in https://api.travis-ci.org/v3/job/448123064/log.txt, we see

[code]

The Play tests get run as part of the `testPlayBinary` which `test` does NOT depend on.

[2018-10-31 14:19] oliverhu commented on #60
merged

[2018-10-31 14:19] #60 closed

[2018-11-03 21:55] gogasca opened #65 "Installation of TonY in GCP Tests under TestTonyE2E fail"
Tried to install TonY on GCP via Dataproc.

Setup:
- 1 Master node
-
[build.log](https://github.com/linkedin/TonY/files/2545379/build.log)
4 Workers

Attached logs with -debug information.

[code]
[code]

When running **./gradlew build**

[code]

[2018-11-04 01:09] gogasca commented on #65
Tried with new image and same issue occurs.

[code]

[2018-11-04 01:45] oliverhu commented on #65
@gogasca  you don't need to run test to get a build. Simply run `./gradlew build -x test` and grab the jar file.

For the test failures, could you paste the error message & log ? The tests rely on a successful launch of mini testing Hadoop cluster (Hadoop's integration testing environment), this part in Hadoop is not super robust.

[2018-11-04 02:46] gogasca commented on #65
Thanks @oliverhu

I will try with `-x test` option.

One of the test errors below. I also attached complete log in first comment (build.log)

The newest GCP Dataproc Hadoop release is 2.9. The goal is to run the TF distributed job in your example. I found this note in examples [folder](https://github.com/linkedin/TonY/tree/master/tony-examples/mnist-tensorflow).

[code]
Do you know if this would w

[2018-11-04 03:08] oliverhu commented on #65
It is compatible with `Hadoop 2.7+`. However, if you want to leverage the GPU isolation feature on Hadoop, you need Hadoop 3.0+. Internally, we have Hadoop 2.9 with GPU feature backported.

I need the log inside `/PATH_TO_SOURCE/tony/target/MiniTonY/MiniTonY-logDir-nm-XX`

[2018-11-05 21:12] csruiliu opened #66 "Failed to run mnist example on Hadoop cluster"
Tried to build TonY and run mnist-tensorflow example, but get error message "ERROR tony.TonyClient: Application failed to complete successfully". There is no clear error in hadoop logs. Furthermore, I successfully built TonY but I didn't find the tony folder and configuration tony.xml

My configurations are:
A Hadoop cluster (4 nodes: 1 master and 3 slaves) on Virtualbox.
Hadoop version: 2.9.1
Ton

[2018-11-05 22:59] oliverhu commented on #66
There is no folder or tony.xml generated after you build TonY. After you build TonY, you just need the `tony-cli-x.x.x-all.jar ` inside the build directory.

You can copy that jar to a folder that contains your training script and a tony.xml for easier project management
[code]

You need to create the tony.xml yourself and add configurations you want to override. Otherwise, default configurations

[2018-11-06 02:20] csruiliu commented on #66
Got it, thanks. So I have to copy the virtual environment file to all the node within Hadoop cluster? I am a little bit confused about it.

Also, I got another issue, the containerlogs are shown as follows. Could you please help me to figure this out? Thanks a lot.

2018-11-05 20:09:57 INFO  TaskExecutor:82 - TaskExecutor is running..
2018-11-05 20:09:57 INFO  TaskExecutor:76 - Reserved rpcPort: 4

[2018-11-06 07:34] oliverhu commented on #66
You don't have to, there is a flag to pass the virtualenv zip file `-python_venv your-venv.zip` so that TonY will automatically copy all the virtualenv to all the nodes. That error means the RPC failed from slave2 -> slave1. Have you checked if the two nodes can ping each other by CNAME ?

[2018-11-06 20:36] csruiliu commented on #66
Gotcha. Yes, each two nodes can ping successfully by CNAME, particularly slave2->slave1 and the reverse. All machines' IP addresses and regarding CNAME have been added to /etc/hosts as follows,

192.168.56.100  tf-yarn-master
192.168.56.101  tf-yarn-slave1
192.168.56.102  tf-yarn-slave2
192.168.56.103  tf-yarn-slave3

[2018-11-06 21:13] oliverhu commented on #66
That's weird, how does the log of Application Master look like?

[2018-11-07 02:38] oliverhu opened #68 "TonY on docker"
with #67 , we'll support running TonY with docker images. The prerequisite is you need a properly configured cluster to be capable of running YARN applications with docker. Personal experience with that: https://medium.com/@oliver_hu/enable-hadoop-yarn-2-9-1-3-0-3-1-to-launch-application-using-docker-containers-1442a639bb64.

With this change, you should be able to launch your training jobs withou

[2018-11-07 03:05] erwa commented on #58
Internal JIRA: LIHADOOP-42079

[2018-11-08 01:14] oliverhu commented on #68
Closed with #71  and #67

[2018-11-08 01:14] #68 closed

[2018-11-08 01:15] oliverhu commented on #54
Close with #59

[2018-11-08 01:15] #54 closed

[2018-11-08 01:15] oliverhu commented on #56
Close with #70

[2018-11-08 01:15] #56 closed

[2018-11-08 01:16] oliverhu commented on #25
Close with https://github.com/linkedin/TonY/wiki/TonY-Notebook-Submitter

[2018-11-08 01:16] #25 closed

[2018-11-09 23:15] erwa opened #72 "TonY History Server should use in-memory cache to avoid pounding the NameNode every time the jobs list page is loaded"
See https://github.com/linkedin/TonY/pull/62#discussion_r232409452 for context.

[2018-11-11 08:30] spicyramen opened #74 "Failed to run TF mnist example in GCP"
Unable to run mnist example in Dataproc.

[code]

[code]
Java version
[code]
Command run:
[code]

Directory structure:

[code]

tony.xml contents:

[code]

[2018-11-11 08:32] gogasca commented on #74
Just saw the following update in README.md
"TonY itself is compatible with Hadoop 2.9.1 and above"

[2018-11-11 11:51] oliverhu commented on #74
Oops, there seems to be a bug in https://github.com/linkedin/TonY/blob/master/tony-cli/src/main/java/com/linkedin/tony/cli/ClusterSubmitter.java#L60 during the last refactoring. It should be `exitCode = TonyClient.start((String[])(updatedArgs.toArray()));`, will update that.

[2018-11-12 01:07] gogasca commented on #74
Thanks for the quick fix, after modifying the code, my task is stuck at the following:

[code]

Looks like server is listening in ports 8032 & 10200, but in IPv6 instead of iPv4, not sure if this is normal.
[code]

Thanks

[2018-11-12 02:30] oliverhu commented on #74
Are you able to run a normal mapreduce job ?

[2018-11-12 06:55] gogasca commented on #74
Yes, other MR job works fine. I tried a sample GCP (wordcount) and worked fine.

![image](https://user-images.githubusercontent.com/30065079/48331351-b5d9af00-e604-11e8-9334-c8d0eda1dfd2.png)

I was running using the `java -cp hadoop`, but found a GCP command:` gcloud submit hadoop` and now I'm able to submit the job, and get the following:

[code]

[2018-11-12 07:20] gogasca commented on #74
`yarn application -list -appStates ALL
`
[code]

[2018-11-12 14:04] zhaiyuyong opened #77 "Unauthorized connection for super-user: rm/xxxxx.com@xxxx.COM"
[code]

[2018-11-12 18:18] oliverhu commented on #74
@gogasca  could you check `yarn logs -applicationId YOUR_APPLICATION_ID`?

[2018-11-12 19:57] mohammedayub44 opened #78 "Running this on Cloudera Hadoop Distribution (5.13.1)"
Hi,

I came across this great work just recently. I had lot of issues using the TensorflowOnSpark and TensorflowOnYARN earlier this year and had given up. I'm wondering how can I make use of this repo on top of my Cloudera Distribution of Hadoop. Any help is appreciated.

Thanks !

Mohammed Ayub

[2018-11-12 20:08] gogasca commented on #74
sudo yarn logs -applicationId application_1541371308113_0005
[code]
But I found some information here:

more /hadoop/yarn/system/rmstore/FSRMStateRoot/RMAppRoot/application_1541371308113_0011/application_1541371308113_0011

[code]

I will try to access the web page to get more details.

[2018-11-12 20:21] oliverhu commented on #74
@gogasca the problem looks obvious from the log :) * unexpected EOF while looking for matching `''*

[2018-11-13 01:50] zhe-thoughts commented on #78
Hi @mohammedayub44 , could you share details on previous errors trying TensorflowOnSpark and TensorflowOnYARN?

[2018-11-13 05:07] mohammedayub44 commented on #78
Hi @zhe-thoughts
The issues were on creating TFRecords for Input and submitting jobs with yarn user https://github.com/yahoo/TensorFlowOnSpark/issues/293.
However managed to replicate it successfully, also using TFoS requires you to make several changes to existing Tensorflow applications [Conversion Guide](https://github.com/yahoo/TensorFlowOnSpark/wiki/Conversion-Guide).

I'm assuming this is so

[2018-11-13 08:02] gogasca commented on #74
Thanks, I was able to edit:

```yarn-site.xml```

And modify:

[code]

As you can see, there was a ' by default. I have contacted the Dataproc team to find out if its a known issue. Job is running now. Will update thread later. Thanks again.

[2018-11-13 18:01] oliverhu commented on #74
Lol, np. It is always not easy to make a job run the first time. Let us know if you see more issues.

[2018-11-14 04:53] iamabug opened #82 "build TonY on CDH 5.15.1(Hadoop 2.6.0)"
Is there some feature that is strictly not supported on Hadoop of lower version ? I try to build TonY on Hadoop 2.6.0 and get the following:

[code]

[2018-11-14 05:03] erwa commented on #82
Hey @iamabug,

To build against Hadoop 2.6, you'll probably need to update `NMCallbackHandler` and `RMCallbackHandler` in `TonyApplicationMaster` to user older YARN APIs. However, other than that, you should be able to build against older Hadoop versions.

The above error you ran into doesn't seem related to Hadoop. Looks like the post that akka is trying to use may already be in use. Try running

[2018-11-14 06:38] iamabug commented on #82
Thanks for the reply @erwa.
After adding `--stacktrace` option, I got the following:
[code]

I check the report in `/home/xxx/TonY/tony-history-server/build/playBinary/reports/test/index.html` and see the BindException again:

[code]
The funny thing is that I run this on three different machines but the outputs are the same. Is TonY using some configured port ?

[2018-11-14 06:59] pdtran3k6 commented on #82
I believe Tony History Server uses port 19001 by default to for testing. You can check to see if the port has already been used by other processes/blocked by CDH. You also can ignore the failed browser test by running `./gradlew build -x test -x testPlayBinary`.

[2018-11-14 07:13] iamabug commented on #82
1. `./gradlew build -x test -x testPlayBinary` works @pdtran3k6.
2. Port 19001 is available on all three machines.

[2018-11-14 08:36] gogasca commented on #74
Just for the record,  my memory configuration was incorrect:

 - Master and workers have 15.0 GB RAM memory. `(n1-standard-4 (4 vCPU, 15.0 GB memory)`
- ` tony.xml` had: 15.0 GB (15360) memory configured under `tony.worker.memory`
- In master `yarn-site.xml` the parameters: `yarn.nodemanager.resource.memory-mb` and `yarn.scheduler.maximum-allocation-mb` were limited to 12288. (12.0 GB)

I reduced

[2018-11-14 16:54] erwa commented on #82
Strange, the code builds fine on my Mac and RHEL7 Linux box.

@iamabug, does the unmodified code (built against Hadoop 3.1.1) build (including tests) without errors for you? Is the problem only after modifying to build against 2.6.0? Do you have a link to the code after the modifications?

[2018-11-14 18:06] gogasca commented on #74
I re-run the job with gcloud command as job status was not appearing in the Dataproc dashboard.

`sudo yarn logs -applicationId application_1541371308113_0033`

When I run the command above, I still see same results, in which job keeps running and just displays the following, looks like is stucked in:

[code]

[code]

[2018-11-14 18:13] oliverhu commented on #74
@gogasca `2018-11-14 17:44:06 INFO  TonyApplicationMaster:507 - Completed worker tasks: 0, total worker tasks: 2` means the task has started in the worker nodes and AM is waiting for the worker nodes to finish training.

The logs from the workers won't be shipped to the AM log. Can you check the log of the other containers for this training job?

You can't directly run the mnist_distributed.py cau

[2018-11-14 21:54] gogasca commented on #74
I looked into the workers and saw this:

[code]
Not sure if I'm looking at the right logs.
Job shows running after 4+ hours:

![image](https://user-images.githubusercontent.com/30065079/48515009-91542180-e814-11e8-854d-85f3eb45e9f8.png)

[2018-11-14 22:05] oliverhu commented on #74
@gogasca there should be another two workers:

`container_1541371308113_0033_01_000002` and `container_1541371308113_0033_01_000003`

[2018-11-14 22:59] gogasca commented on #74
This is what I see in one of the workers:

[code]

[2018-11-15 00:05] iamabug commented on #82
Sorry @erwa，I was researching the idea "TensorFlow on Yarn" for our team and because upgrading our Hadoop is somehow difficult, so I was just trying to build on Hadoop 2.6.0 to see what would go wrong and didn't modify the code. I used the jar file built with `-x testPlayBinary` to run the TensorFlow example and indeed got the error concerning API compatibility (such as `getMemorySize()` function

[2018-11-15 00:58] oliverhu commented on #82
An alternative would be creating a branch for Hadoop 2.9-, @erwa @zhe-thoughts how do you think?

[2018-11-15 07:47] gogasca commented on #74
I opened an internal ticket to dig into this. Will keep this thread updated.

[2018-11-15 18:01] oliverhu commented on #74
@gogasca do you have access to the ResourceManager's UI? If the worker jobs are scheduled, you should be able to see additional containers on the UI.

I'm not sure if you are running in a single node or multiple nodes, if you have more than one machines, the log might be on other nodes.

[2018-11-16 00:23] pdtran3k6 opened #84 "TonyApplicationMaster doesn't return correct status."
When running locally with a python script that exits 1 (mock a fail worker), TonyAM only fails when `tony.application.single-node` is set to true. We expect that when a non-chief worker fails, TonyAM should continue on training, but it should return fail, regardless of training mode.

[2018-11-16 08:53] gogasca commented on #74
@oliverhu just set it up.
I have one master node and 2 workers.

- tony-dev-m
- tony-dev-w-1
- tony-dev-w-0

![image](https://user-images.githubusercontent.com/30065079/48607646-5fd37700-e936-11e8-82a9-6a596e55403e.png)

I ended up killing the existing jobs.

I tried with a new fresh job:

[code]

![image](https://user-images.githubusercontent.com/30065079/48608357-4bdc4500-e937-11e8-96ac-dbc7543c

[2018-11-16 17:56] erwa commented on #82
The latest CDH version is on Hadoop 2.6: https://www.cloudera.com/documentation/enterprise/release-notes/topics/cdh_vd_cdh_package_tarball_515.html#cm_vd_cdh_package_tarball_515

To benefit the most people, seems we should make TonY compatible with hadoop-2.6.0+cdh5.15.1+2822

[2018-11-16 20:18] oliverhu commented on #74
Ah I see. It seems to be a usability issue in TonY, the code assumes you have `venv.zip` in the folder that you're submitting the job, basically you can only do relative path:

`-python_venv venv.zip`

We gonna fix this today.

For the second question, the job should fail instead of sitting "Running", for the container log you pasted, is that all the logs there? Could you paste the log for the oth

[2018-11-16 20:45] gogasca commented on #74
Oh I understand now, the job was launched from http://tony-dev-w-1.c.dpe-cloud-mle.internal:8042

Logs below:

worker0 (tony-dev-w-0.c.dpe-cloud-mle.internal)
[logs.zip](https://github.com/linkedin/TonY/files/2590815/logs.zip)

[code]

worker1 (http://tony-dev-w-1.c.dpe-cloud-mle.internal:8042)
[code]

Complete logs attached.

[2018-11-16 21:01] oliverhu opened #89 "TonY assumes python_venv.zip at root folder"
`TaskExecutor` uses the -python_venv passed by user as the path to locate the python_venv path, this is wrong.. it will always be at root folder and we should make a constant.

[2018-11-16 21:35] oliverhu commented on #74
@gogasca if you take a look at the screenshot you pasted:
![p1](https://user-images.githubusercontent.com/1659910/48648490-6993c380-e9a4-11e8-98d8-77df8facb3d9.png)

It seems your cluster failed to allocate more containers for you. *Outstanding Resource Requests* means the cluster can't allocate that much resource for your job.

[2018-11-16 22:17] oliverhu commented on #89
This is related to #74

[2018-11-16 23:40] oliverhu commented on #82
It is actually a bit challenging, there seems to be some significant changes after Hadoop 2.8, for example this module https://repo.maven.apache.org/maven2/org/apache/hadoop/hadoop-hdfs-client/ doesn't have a version prior to 2.8

[2018-11-17 00:33] erwa commented on #82
I think prior to 2.8, there was just one `hadoop-hdfs` module. This shouldn't be an issue.

[2018-11-17 01:32] oliverhu commented on #82
ok, we can discuss on Monday if we want to support this case.

[2018-11-17 04:29] gogasca commented on #74
Thanks @oliverhu

Tensorflow code job is running!

- Master and workers have 15.0 GB RAM memory. `n1-standard-4 (4 vCPU, 15.0 GB memory)`
- In `tony.xml` I changed `tony.worker.memory` to 4GB
- In master `yarn-site.xml` the parameters: yarn.nodemanager.resource.memory-mb and yarn.scheduler.maximum-allocation-mb are set to 12288. (12.0 GB)

1) I manually moved /usr/local/src/deps/venv/venv.zip and

[2018-11-17 18:08] oliverhu commented on #74
Greaaaat! I'm so glad we made it work together on GCP!!

1. You won't have to copy `venv.zip` to workers once #89 is merged. For `src/` folder, that should work irrelevant to #89. It works with absolute path.

2. Permission wise, basically the user who submits the job must have the permission to write to the output directory. Alternatively, you can [impersonate](https://hadoop.apache.org/docs/curr

[2018-11-19 06:33] gogasca commented on #74
My other DataProc cluster, seems to run TF job without issue using previous code.

[2018-11-19 06:48] gogasca opened #93 "Feature request: Add Google Cloud Bucket support"
When running DataProc with Google Cloud, would be ideal to keep files in Company GCS bucket, private or public

Support for:
- jars: (Already included in gcloud dataproc command). To be tested.
- python_venv
- executes
- conf_file
- src_dir

Since some GCS buckets are not public may be required to pass credentials (json file) in a different parameter.
Code sample [here](https://stackoverflow.com/q

[2018-11-19 07:12] oliverhu commented on #74
@gogasca  I don't see you having tony.xml in your folder architecture. You need to disable `secure` cluster in tony.xml.

[2018-11-19 07:17] gogasca commented on #74
Thanks, that was the issue. :)

[2018-11-19 07:19] oliverhu commented on #93
We added a flag in #59 so that you can add a list of resources (which will be localized to the containers from HDFS). So for `--jars` `--src_dir` `--conf_file`, you can just
[code]
I have never tested if default `gs` works well with YARN tho.

[2018-11-19 17:13] gogasca commented on #74
I created a guide to install TonY in GCP, I would like it to share here if possible, what would be the best location? Thanks

[2018-11-19 18:46] oliverhu commented on #74
That's *AWESOME*! My original thought is to add this to wiki page but I don't think you'd have access to that and it is hard to review. How about in the `TonY Example` part, add a section Running TonY on GCP and then create another entry under the tony-example folder.
[code]

[2018-11-19 18:59] oliverhu commented on #93
For gs:// support, it looks like out of box if you're running inside Google Cloud (suppose Google would config its Hadoop cluster with the Google Cloud Connector?

Ref: https://cloud.google.com/dataproc/docs/concepts/connectors/cloud-storage

[2018-11-20 06:50] gogasca commented on #74
LGTM, thanks @oliverhu

[2018-11-20 07:13] gogasca opened #95 "Failed to run PyTorch mnist example in GCP"
Unable to run PyTorch sample code. Task is stuck in "RUNNING"

**Setup**

GCP DataProc
- 1 master node
- 2 worker nodes

**Version**

[code]

**ML framework versions**

PyTorch 0.4.0
Python 3.5

tony.xml

[code]
[code]

![image](https://user-images.githubusercontent.com/30065079/48757480-bb14aa80-ec51-11e8-8c92-1da9af9ef030.png)

Logs from:

[code]

Code fails in:

[code]

**stderr**

[code]

**st

[2018-11-20 08:20] gogasca commented on #42
We will be releasing TF 2.0 early next year. As preparation: We are removing tf.flags and tf.app.
we probably need to define it manually.  Will take a look and submit PR.

[code]

[2018-11-20 14:03] erwa opened #96 "TonY uses both tony.history.location and tony.historyFolder"
Currently, tony-default.xml contains `tony.history.location` whereas other places use `tony.historyFolder`. We should standardize on one. Looking at Hadoop configs, seems like `all.lowercase.period.separated` is the more standard naming convention, rather than using camelCase in config names.

We should also avoid hardcoding `tony.historyFolder` in multiple places and instead define a String const

[2018-11-20 14:07] erwa commented on #96
Note that `TONY_HISTORY_LOCATION` is already defined in TonyConfigurationKeys.java.

[2018-11-20 14:11] erwa opened #97 "TonyClient and startTHS.sh should read tony-site.xml config file from TONY_CONF_DIR"
TonY clients and the TonY History Server need to use the same value for the location of the history files. The client needs to tell the TonY AM to write to that location and the history server needs to read from that location.

We should define this location in a tony-site.xml file and expect it to be in the directory pointed to by the environment variable `TONY_CONF_DIR`, which can be set before

[2018-11-20 14:30] erwa opened #98 "TonY Portal should enforce retention on history files"
Currently, history files are retained forever. The retention period should be configurable and TonY Portal should take care of enforcing retention.

As part of retention, we can also clean up in-progress files that are older than the retention period. (These are probably jobs that crashed or encountered other abnormal conditions.)

Internal Jira: LIHADOOP-43855

[2018-11-20 18:00] gogasca commented on #93
Hi @oliverhu

When I run this command
[code]
DataProc by default can read GCS paths, but only --jars file.

[code]

Questions:
1) Can you clarify a little bit about the --resources flag, I'm not sure how to add it/use it.
2) My understanding is that I can submit a PR to add support to read GCS paths from the parameters used by TonY client?

[code]

Example output

[code]

[2018-11-20 18:32] #89 closed

[2018-11-20 21:36] #84 closed

[2018-11-20 23:00] oliverhu commented on #42
That would be great, thanks @gogasca

[2018-11-21 02:01] pdtran3k6 commented on #96
For TonyClient, retrieving this value is easy. However, for `tony-history-server`, although I know that there's prolly a way to import `TonyConfigurationKeys.java` and use it within the controllers code, I don't know how, so I'm going to work on https://github.com/linkedin/TonY/issues/97 first, and hardcode the key (tony.history.location + default value) for now (at least inside tony history serve

[2018-11-22 08:20] pdtran3k6 commented on #97
With that being said, my assumption would be that on both client host and history server host, there would be an environment variable `TONY_CONF_DIR` that points to a `tony-site.xml` with respect to that host. (The client host doesn't need other history config like keytab, principal, etc., but if that increases the maintenance overhead of `tony-site.xml`, then we could make them the same for now).

[2018-11-26 19:43] oliverhu commented on #93
@gogasca
1. I'll update the wiki on how to use the --resources flag sometime today.
2. Sure! feel free to submit PR and ask questions :-)

[2018-11-27 19:19] erwa opened #109 "TensorFlowJob type should inject Azkaban metadata into TonY config"
The TensorFlowJob type used to run TonY jobs should inject Azkaban metadata into the TonY configuration so that the Azkaban metadata (exec link, job link, project name, etc.) show up in the config.xml file written to HDFS by the TonY ApplicationMaster.

[2018-11-27 23:47] gogasca opened #110 "Support initialization actions for TonY in DataProc for GCP"
Will be adding support in Google Cloud DataProc for TonY as part of the initialization actions.
https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/init-actions

This issue is to track this effort.

[2018-11-27 23:51] gogasca commented on #110
DataProc initialization actions repo: https://github.com/GoogleCloudPlatform/dataproc-initialization-actions

[2018-11-28 00:58] oliverhu commented on #95
There was regression, #111 should fix this.

[2018-11-28 18:16] #95 closed

[2018-11-28 18:16] oliverhu commented on #95
@gogasca it should be fixed, you want try again?

[2018-11-29 17:23] erwa opened #112 "TonY should inject the version info (build version, commit, user, branch, etc.) into the Configuration"
TonY should inject build metadata (version number, commit hash, user, date, etc.) into the Configuration created by the TonyClient so that this info is available in the config.xml for TonY applications.

[2018-11-30 21:20] gogasca commented on #42
Hi Oliver,
TF 1.12 changed the way of handling flags,
I opened this to track it: https://github.com/tensorflow/tensorboard/issues/1642

[code]

Workaround in official TF pip install 1.12 is to edit tensorboard/program.py and add a "not" in conditional:

[code]
We are looking to see if we can release a TB 1.12.1 patch. Otherwise file needs to be edited an then zip the env.

[2018-11-30 21:29] gogasca commented on #93
We rebuild the jar file successfully with the Google cloud connector, but looks like we may need to implement the GCS support into Tony. Currently we are not able to read from a remote GCS path (gs://):

  external: [
    "assertj": "org.assertj:assertj-core:3.6.2",
    "avro": "org.apache.avro:avro:1.8.2",
    "awaitility": "org.awaitility:awaitility:2.0.0",
    "commons_io": "commons-io:commons-

[2018-12-01 14:16] oliverhu commented on #42
Hey @gogasca , do you mean the latest released TB is not compatible with latest released TF?

[2018-12-01 15:22] oliverhu opened #114 "src_dir should be nullable"
Part of making #93  easier. User should be able to pass in `--resources SCHEMA://PATH/TO/RESOURCES` instead of having to add resources through local file system.

Example:
[code]

[2018-12-01 15:30] oliverhu commented on #93
@gogasca

Time to try `tony.worker.resources` flag, check #115. Could you try this:

gcloud dataproc jobs submit hadoop --cluster tony-staging \
--class com.linkedin.tony.cli.ClusterSubmitter \
--jars gs://tony-staging/tony-cli-0.1.5-all.jar -- \
--src_dir=/usr/local/src/jobs/TFJob/src \
--task_params='--data_dir /tmp/data/ --working_dir /tmp/output' \
--conf_file=gs://tony-staging/tensorflow/tony

[2018-12-01 22:33] gogasca commented on #42
Sorry I mean we will release a patch but this will be in TF itself, currently our TF build process for pip package use same numbering as TB, in this case we will have a TF 1.12.1 with TB 1.12.1.

[2018-12-01 23:14] oliverhu commented on #42
Got it. I feel TF evolves really fast (1 patch/rc version a week), we can wait for 1.12.1 if it is coming soon.

[2018-12-01 23:31] gogasca commented on #93
I gave Public access to our bucket: `gs://tony-staging/`

[code]

But I got this error in one of the containers:

[code]

Complete error:

[code]

[2018-12-03 06:06] gogasca commented on #93
@frankyn

[2018-12-03 16:51] #112 closed

[2018-12-03 19:19] #97 closed

[2018-12-03 19:20] erwa opened #119 "TonY MNIST distributed example hangs when using multiple workers and one worker finishes"
The MNIST distributed example uses asynchronous training, so the workers should not need to communicate with each other (only the ps), and one worker finishing should not cause the other workers to hang.

[2018-12-03 19:44] oliverhu commented on #93
Some ideas from our side, the related error in Tony code base
[code]

Basically the Hadoop fs configuration is not right and it still uses hdfs implementation of FileSystem

[2018-12-03 20:00] #119 closed

[2018-12-03 23:58] erwa commented on #42
Thanks for the investigation, @gogasca. I verified that after installing **tf-nightly** and changing `start_tensorboard` to

[code]

TensorBoard works with the MNIST distributed code.

[2018-12-04 23:12] gogasca commented on #93
Thanks for taking a look, will take a look.

[2018-12-05 05:42] #114 closed

[2018-12-11 00:27] erwa opened #123 "TonY History Server should start using nohup"
Currently, the startTHS.sh script uses `exec` to start, and so if the SSH session in which the THS is started dies, the THS process itself dies. We should use `nohup` so the THS will continue running even when the SSH session is closed. (Alternatively, we could run THS as a background process.)

[2018-12-11 01:02] erwa opened #124 "TonyClient should print a link to the TonY History Server page for an application when it finishes"
To make the THS page for a TonY application more easily accessible, the TonyClient could print a link to it when the application finishes.

[2018-12-11 19:10] dwu15 commented on #74
I'm running into an issue trying to get the example in GCP working. Any one have any poitners?
`SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/usr/lib/hadoop/lib/slf4j-log4j12-1.7.25.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/tmp/8db518ab428a46e0affe15098e4e2134/tony-cli-0.1.5-all.jar!/org/slf4j/impl/StaticLoggerBinder.c

[2018-12-11 20:37] dwu15 commented on #74
Regarding the yarn-site.xml fix, I looked at the release notes, and it seemed like they fixed that bug on 12/10.

[2018-12-11 20:57] oliverhu commented on #74
@dwu15 could you provide the Hadoop log for the application application_1544551109758_0001? `yarn logs -appId application_1544551109758_0001` Good news is the application has started, but for some reason client host could not talk to the driver host.

[2018-12-11 23:36] dwu15 commented on #74
These are my log files. I was able to submit without the job failing, but the job now seems to hang indefinitely now.

[code]

[code]

[2018-12-12 07:31] oliverhu commented on #74
That looks weird, does `/usr/local/src/jobs/TFJob/env/tf19.zip` exist? @gogasca i remember you also saw this before.. did you solve this without copying files manually around ?

[2018-12-12 12:08] charlieguo0307 opened #127 "Failed to run tensorflow mnist example"
2018-12-12 19:43:26 ERROR TonyApplicationMaster:935 - [2018-12-12 19:43:25.607]Container [pid=12069,containerID=container_1544604976318_0003_01_000003] is running 22081205248B beyond the 'VIRTUAL' memory limit. Current usage: 979.3 MB of 2 GB physical memory used; 24.8 GB of 4.2 GB virtual memory used. Killing container.

How to configure the  'VIRTUAL' memory in Tony or on YARN？It seems that the

[2018-12-12 17:33] dwu15 commented on #74
After some debugging, I got a job running. I had to change the folder structure
[code]

And specify relative paths in the hadoop job statement

[code]

I saw in one of the comments in this chain that there was an issue before with relative paths vs absolute paths, but this bug still seems to exist.

[2018-12-12 18:34] gogasca commented on #74
@dwu15 thanks for reporting, yes unfortunately we need to move each the Python file and env using the same structure across all the workers. I opened https://github.com/linkedin/TonY/issues/93 to be able to support GCS so we just locate the previous files in a common directory. Will take a look at this as it is still opened.

[2018-12-12 19:23] erwa commented on #127
In our deep learning cluster, we've disabled YARN's vmem check by setting

[code]

Ref: https://stackoverflow.com/questions/14110428/am-container-is-running-beyond-virtual-memory-limits

[2018-12-13 00:19] erwa opened #128 "TonY EventHandler should use take() instead of poll()"
Currently, EventHandler.run() spins inside this loop:

[code]

because writeEvent uses `poll()` which will immediately return null if the queue is empty.

We should update `writeEvent()` to use `take()` instead and have the `stop()` method call `Thread.currentThread().interrupt()` (the `writeEvent()` method should catch the `InterruptedException`).

[2018-12-13 00:39] erwa opened #129 "TestEventHandler duplicates ParserUtils code"
`TestEventHandler.parseEvents()` duplicates much of the code in `ParserUtils.parseEvents()`. Instead of duplicating the code, we should move `ParserUtils` from `tony-history-server` into the `tony-core` module (to avoid a cyclic dependency). For more context, see https://github.com/linkedin/TonY/pull/117/files#r241235693

[2018-12-13 07:34] #127 closed

[2018-12-13 20:44] pdtran3k6 commented on #128
The problem with calling `interrupt` on the thread is that we no longer have the ability to wait for the thread to finish its job.
Before, you can wait with `eventHandlerThread.join()` to determine when the thread finished writing to file and proceed. Now you have a race condition problem where the code may try to open a non-existing file, which could potentially be very hard to debug. I suggest w

[2018-12-13 20:53] pdtran3k6 commented on #128
Discussed offline with @oliverhu, there are a couple alternatives here:
- Reverted to `queue.poll()` and let the while loop spins.
- In the while loop, check if `queue.isEmpty()` (I feel like this approach is similar to the one above, but probably saves a bit more of space since we don't generate a null event and doesn't hit the `try/catch`, which would make the code slower).
- Emit a dummy event

[2018-12-13 21:05] oliverhu opened #130 "Refactor hdfs_classpath, src_dir, python_venv to all use resources and fix the path issue for input files"
Currently, we have different handling logic for hdfs_classpath, which we adds to container localizable resources for am and then pass this again to the workers, for src_dir & python_venv, we add them to a tony.zip. A difference between these two is for src_dir, we care about the folder structure, however for python_venv, we don't care since it is a single zip file.

All these resources handling co

[2018-12-13 23:58] erwa commented on #128
There was a bug in my original post above. `Thread.currentThread().interrupt()` is interrupting the wrong thread -- it's interrupting the main thread but we want to interrupt the event handler thread. We need to call `eventHandlerThread.interrupt()` instead.

Using a sentinel event to indicate event processing should stop also works.

[2018-12-14 00:01] pdtran3k6 commented on #128
Fix: https://github.com/linkedin/TonY/pull/107/commits/5f04d744bcf6f39e96b37c3a7ca94f22c3dd98d3.

[2018-12-14 21:57] oliverhu opened #132 "Race condition between container scheduled and taskUrl collected"
`getTaskUrls()` method checks `session.allTasksScheduled` if it should return all taskUrls. The logic is as:
[code]
java.lang.NullPointerException: java.lang.NullPointerException
	at com.linkedin.tony.util.ProtoUtils.taskUrlToTaskUrlProto(ProtoUtils.java:17)
	at com.linkedin.tony.rpc.impl.pb.GetTaskUrlsResponsePBImpl$$Lambda$13/423665628.apply(Unknown Source)
	at java.util.stream.ReferencePipeline

[2018-12-14 22:57] erwa commented on #128
I didn't realize that using an end-of-queue sentinel required adding the dummy EOQ type to the schema as well. It seems really weird for an implementation detail like this sentinel to be exposed in the data schema. Can we go with the `eventHandlerThread.interrupt()` approach? That seems cleaner to me.

[2018-12-15 00:34] oliverhu opened #134 "tony doesn't wait for chief worker to finish before stopping"
We wait for all workers to finish before stopping the training job. However, `chief` is another type of job we should also wait for.

Related code snippet.
[code]

This should be configurable as well.

[2018-12-15 01:40] oliverhu commented on #132
Fixed in #133

[2018-12-15 01:40] #132 closed

[2018-12-15 01:41] oliverhu commented on #130
Fixed in #131

[2018-12-15 01:41] #130 closed

[2018-12-15 02:01] oliverhu commented on #74
This is fixed in trunk!

Check this updated read.me for instructions: https://github.com/linkedin/TonY/pull/136/files

[2018-12-16 13:35] #134 closed

[2018-12-17 18:30] #123 closed

[2018-12-17 23:01] gogasca commented on #95
I tried and looks that original error is gone, but now I get this:

[code]

this is my command:

[code]

If I try:

[code]
as document I get:

LF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/hadoop/yarn/nm-local-dir/usercache/root/filecache/97/tony-cli-0.1.5-all.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/usr/lib/hadoop/lib

[2018-12-17 23:44] oliverhu commented on #95
@gogasca  could you pull latest code and try again?

[2018-12-19 14:58] erwa opened #141 "TonY History Server should show in-progress jobs"
In-progress event files are being written in #140. The THS should scan for and show these in-progress jobs in the UI as well. Also see discussion in https://github.com/linkedin/TonY/pull/137#issuecomment-448247569 for more context.

[2018-12-21 19:44] oliverhu commented on #77
close old ticket, feel free to reopen

[2018-12-21 19:44] #77 closed

[2018-12-23 19:34] erwa commented on #141
Resolved by #143.

[2018-12-23 19:34] #141 closed

[2018-12-27 09:07] WenkaiBai opened #144 "How to distribute training data and split them into workers instead of loading all data in all workers"
In demo, all training data are on all workers,
My situation is that training data is too big to store on single worker.

How to distribute data?

[2018-12-28 10:57] WenkaiBai opened #145 "What is fault tolerance strategy in TonY"
As we know, containers in hadoop cluster are not stable, if some containers dead during training.
How TonY handle it?

The worst way to kill all containers and re-train from beginning because it time-consuming.

[2018-12-28 10:57] WenkaiBai opened #146 "What is fault tolerance strategy in TonY"
As we know, containers in hadoop cluster are not stable, if some containers dead during training.
How TonY handle it?

The worst way to kill all containers and re-train from beginning because it time-consuming.

[2018-12-28 17:59] oliverhu commented on #146
That is a good question. We are actually doing the worst way at the moment for a couple reasons.

1. checkpoint is implemented in TensorFlow, even though TonY restarts all containers, TensorFlow training is only briefly interrupted cause it can resume from previously saved checkpoints.

2. TensorFlow itself requires a hard coded cluster-spec for all nodes, instead of a [master] -> multiple [slave]

[2018-12-28 18:09] oliverhu commented on #144
Good question. TonY is the layer to drive the distributed training, in terms of how to split the data, it is up the training code. A simplified way would be: since we have the NUM_WORKERS, TASK_INDEX environment set up for each container's environment, you can get your portion of the data base on that. For example: you have 10 data files and 10 containers, each container can read its portion by ma

[2019-01-02 15:06] erwa opened #147 "TensorBoard is not loading when using Estimator API with chief worker"
In TaskExecutor.java, we only close the TB port we allocate if the task is a worker:

[code]

However, with the new Estimator API, we should also close the port if it a "chief" task (chief worker), as we would then run TensorBoard in the Python process on the chief task.

[2019-01-02 16:33] erwa commented on #144
Hi @WenkaiBai,

You shouldn't need to store the full data on each worker; you should be able to stream it in to each worker. Distributed TF is designed so every worker reads the full dataset: see this SO post: https://stackoverflow.com/a/45994422/1128392. However, you can shuffle your dataset to apply some randomization so that each worker trains on a different perturbed version of the dataset.

[2019-01-03 00:46] oliverhu commented on #145
duplicate

[2019-01-03 00:46] #145 closed

[2019-01-03 23:17] oliverhu opened #149 "R on TonY"
Support distributed R in TonY.

[2019-01-03 23:19] oliverhu commented on #149
Primarily effort of this support is to add another azkaban jobtype plugin to support R job types..

[2019-01-04 09:04] WenkaiBai commented on #144
Thank you all for answering. now I have a clue how to distribute my data. Thanks!!!!!

[2019-01-04 09:04] #144 closed

[2019-01-04 10:00] myg821561935 opened #150 "Failed to runmnist-tensorflow example on Hadoop3.1.1"
My Cluster Environments：
（1）Java 1.8
（2）Python3.6.8
（3）Hadoop3.1.1 with GPU
（4）TonY-1.5
when i run the examples ，it will faill with below errors：
![image](https://user-images.githubusercontent.com/5190099/50682359-8f0a8880-1049-11e9-9ff6-dd25a7c931ec.png)
my commands is：
java -cp `hadoop classpath`:/home/bigdata/install/TonY/tony-cli/build/libs/tony-cli-0.1.5-all.jar com.linkedin.tony.cli.ClusterS

[2019-01-04 12:16] myg821561935 commented on #150
it's my fault,my hadoop clusters have different version python

[2019-01-04 12:16] #150 closed

[2019-01-04 18:16] oliverhu commented on #146
@WenkaiBai  that is absolutely right. That is on our radar to improve.

[2019-01-05 05:19] #146 closed

[2019-01-07 06:48] erwa opened #151 "TonY History Server should support different filesystem for history files"
For federated HDFS instances, one may wish to write the history files to a separate filesystem than other logs. TonY History Server should support this.

[2019-01-07 19:55] erwa opened #153 "Fix TonY History Server ResourceManager link"
Currently, the YarnConfiguration used by the TonY History Server is not loading `$HADOOP_CONF_DIR/{core-site.xml,yarn-site.xml}`, so the RM link uses the default RM web address of `0.0.0.0`. We should update the THS to load the core-site.xml and yarn-site.xml files so that the correct ResourceManager link is used.

[2019-01-07 20:47] #151 closed

[2019-01-07 20:52] erwa opened #155 "TonY History Server finished directory is always 1970/1/1"
A couple issues:
* `FileStatus.getAccessTime()` always seems to return `0`, which causes TonY History Server to create the finished directories `1970/1/1`. We should use `.getModificationTime()` instead.
* The month and day should be `0` padded.

[2019-01-07 22:04] #153 closed

[2019-01-07 22:42] #155 closed

[2019-01-08 01:26] erwa opened #157 "TonYApplicationMaster has race condition where thread is interrupted while flush is happening"
There's a race condition where the following might happen:

[code]

`.close()` internally calls `.flush()`, and if the `interrupt()` happens during the `.flush()`, you sometimes get

[code]

and end up with a size-0 events file.

[2019-01-08 16:34] #157 closed

[2019-01-09 16:37] gogasca commented on #42
TF 1.13 will be released end of the next week

[2019-01-09 22:13] #147 closed

[2019-01-09 22:16] erwa opened #161 "TonyApplicationMaster hangs for 30 seconds before exiting when launching using ClusterSubmitter"
Using the `ClusterSubmitter` to run a TonY job, `client.start()` is directly called, and `client.amRpcClient.finishApplication()` never gets called. In the TonY AM, `clientSignalToStop` is never received and there is a 30 second wait before the AM times out and exits.

In TonyApplicationMaster
[code]

[2019-01-10 19:10] oliverhu opened #162 "TonY example on HDInsight"
Build examples to have TonY run on HDInsight.

[2019-01-15 18:54] erwa opened #163 "TonyClient should support reading conf_file, source program, and Python venv from remote filesystem"
Currently, TonyClient assumes the conf_file, source program, and Python venv are on local filesystem. If conf_file, source program, and Python venv are already on a remote filesystem, TonyClient should be able to read them from there as well.

[2019-01-16 19:33] #163 closed

[2019-01-24 18:34] gogasca commented on #42
TF 1.13rc0 was released.

[2019-01-28 18:38] erwa opened #166 "Enable Checkstyle and FindBugs in TonY"
We should enable Checkstyle and FindBugs on the TonY code base to improve consistency and reduce common errors.

[2019-01-29 00:03] oliverhu commented on #166
+1

[2019-01-29 22:17] erwa opened #167 "TonyApplicationMaster should not set a default TonY history location"
Currently, we set the default TonY history location to `/path/to/tony-history`, which is not a very good default. Since this location needs to be coordinated between the client and the TonY history server, which will generally be on different machines, it's safer not to set it at all.

[2019-01-30 21:40] erwa opened #168 "Documentation for `tony.containers.resources` and `tony.X.resources`"
#130 added support for shipping resources to all containers or specific tasks via `tony.containers.resources` and `tony.X.resources`. We should document this in the TonY README.md and Wiki.

[2019-01-31 08:20] gogasca commented on #110
Ok to close, thanks!

[2019-01-31 17:51] #110 closed

[2019-02-01 23:25] erwa opened #169 "TonY should support enforcing a limit on the max number of tasks that can be requested"
MapReduce lets you throttle the max number of concurrently running map or reduce tasks using

* mapreduce.job.running.map.limit
* mapreduce.job.running.reduce.limit

It would be nice if TonY also had a config property to let operators put a limit on the number of tasks a TonY job can request.

[2019-02-02 03:03] erwa opened #170 "Remove HDFS Avro file reader code from TonY"
The HDFS Avro file reader code (`HdfsAvroFileSplitReader`) was previously added when TonY would read the data and users would use Py4J to fetch the data from TonY. Now, it's recommended that the user code just directly read the data, such as using the Dataset API in TensorFlow. We should thus remove this HDFS Avro file reader code from TonY.

[2019-02-03 03:45] #166 closed

[2019-02-05 17:05] erwa opened #173 "Rename TensorFlowJob to TonyJob"
The Azkaban jobtype plugin for TonY is currently named TensorFlowJob. However, since TonY now supports running other frameworks such as PyTorch, a more generic name is in order. I suggest TonyJob (with a lowercase 'y' to match the naming convention of TonyApplicationMaster and TonyClient).

Internal Jira: LIHADOOP-43954

[2019-02-06 00:19] #169 closed

[2019-02-06 06:00] oliverhu commented on #173
+1. Could you also update other non TensorFlow specific TensorFlowXXX convention to TonyXXX in the code base?

[2019-02-07 18:20] erwa opened #177 "Publish all TonY jars and zips"
Currently, we only publish the tony-cli-all fat jar: https://github.com/linkedin/TonY/releases/tag/v0.2.0. However, this does not contain the TonY Azkaban plugin or the TonY History Server code. We should publish those artifacts as well.

[2019-02-08 01:24] #173 closed

[2019-02-08 06:15] oliverhu opened #180 "Expand TonY --src_dir to take multiple directories"
As part of Az on TonY initiative, it would be easier if we could support passing in multiple source directories to be localized to all machines.

[2019-02-08 06:39] oliverhu commented on #180
Plan is to extend TonY's ClusterSubmitter to have another parameter of taking multiple directories, zip them, upload to HDFS and then append resources to tonyconf. Thought of adding this to TonyClient to expand, but I think `--resources` is generic enough.

[2019-02-08 17:07] erwa commented on #180
What about adding a `--src_dirs` argument that accepts a comma-separated list of directories?

[2019-02-08 17:08] erwa opened #181 "./gradlew :tony-core:shadowJar fails with "shadow.org.apache.tools.zip.Zip64RequiredException: archive contains more than 65535 entries""
When I run `./gradlew :tony-core:shadowJar`, it fails with

[code]

The Shadow plugin should not be applied to `tony-core`, only `tony-cli`.

[2019-02-08 17:48] oliverhu commented on #180
@erwa end goal is to deprecate --src_dirs in TonyClient and move this to submitter. --resources would be the only api for Tony client to accept resources.

Another thing I found useful to do is to add attributes to `--resources`:
--resources hdfs://abc/a.zip::archive,hdfs://def/g/::file (::file is optional), with this, we could leverage YARN to localize resources with cache.

[2019-02-08 22:12] #181 closed

[2019-02-10 05:20] erwa opened #184 "TonY History Server fails to start due to "java.io.IOException: resource not found on classpath: application.conf""
When starting the THS using `bin/startTHS.sh`, it fails due to

[code]

(seen in the `nohup.out` file)

Internal Jira: LIHADOOP-44080

[2019-02-11 18:12] #184 closed

[2019-02-13 21:30] mkgray opened #186 "Extending training example for model loading and prediction"
The mnist_distributed example currently provides an example for how to train a model with persistence in the checkpoint_dir specified, however this example does not go further to show how to load and use the model for inference/prediction. It would be highly beneficial to extend this example to show how this model can be deployed for prediction purposes.

[2019-02-15 07:02] oliverhu commented on #186
@mkgray do you mean offline inference or online inference?

[2019-02-15 14:23] mkgray commented on #186
@oliverhu ideally online inference. Admittedly I'm not well versed in core Tensorflow itself and I'm working on that; but the biggest issue facing me as a generalized user is a generalized example consisting of two parts:

Part 1: Training and Retraining from Checkpoints
Loads data from a cloud provider or points to a distributed set of files, and trains a deep learning model on these files with m

[2019-02-15 18:34] oliverhu commented on #186
That makes sense. @gogasca is this complicated example something we could provide a codelab in Google Cloud?

For inference, I think your example is an offline scoring, it is possible and I agree we should have a sample of that, we will get an example up for that.

[2019-02-15 20:10] mkgray commented on #186
@oliverhu you're correct about the offline scoring and I mixed up my definitions, my apologies. I meant to refer to offline batch scoring of data, which happened to be stored on cloud. Thank you

[2019-02-16 01:10] gogasca commented on #186
@oliverhu Yes, we can provide an example in how to do this in cloud (Training+Inference) via codelab/Colab notebook.

One of the additions to MNIST sample coming are the following:

1. When creating a Dataproc cluster, we can write the model in GCS. Once your SavedModel is in GCS we can perform inferences using separate infrastructure (GCE or Cloud ML) Here is a sample in how to use a Saved model

[2019-02-18 21:28] gogasca opened #188 "Dataproc + TonY using GPU"
I'm opening this Issue for reference.
Hadoop 2.9 does not support GPU isolation, support is added in 3.1  idea of this effort is to use GPU natively, as a first step to add support for Distributed training + GPU

Unable to run TensorFlow using GPU. Code works in CPU.

 -Debian version 9.8
- 1 GPU Nvidia Tesla V100
- TensorFlow-GPU 1.12 (Tested with TF 1.8, 1.9 and same problem)
- Nvidia Driver: NV

[2019-02-19 14:12] mkgray commented on #186
@gogasca I was under the impression that both training and inference were capable of being handled in Dataproc, but I see you are suggesting that inference be performed on a separate architecture.

If my understanding of your documents is correct, I can see the advantages of hosting a couple complex models across a small set of GPU enabled nodes via REST API call; but my original plan is to distri

[2019-02-20 06:07] gogasca commented on #188
As workaround for experimentation of Dataproc and GPU you can change the following option.
By default TF tries to allocate all GPU memory by default which will result in:

`2019-02-20 04:27:30.580666: E tensorflow/stream_executor/cuda/cuda_driver.cc:806] failed to allocate 836.47M (877106944 bytes) from device: CUDA_ERROR_OUT_OF_MEMORY: out of memory`

You can change the following in mnist_distrib

[2019-02-20 06:58] #188 closed

[2019-02-20 21:33] erwa commented on #186
Hi @mkgray ,

Just to clarify, you can't launch TonY jobs from Spark. TonY jobs run their own TonY Application Master that orchestrates the job, just as Spark has its own Spark AM.

You could run an inference job using TonY if you write a TensorFlow job that loads and serves the model. If you wanted to do it through Spark, you'd have to use a library (e.g.: https://github.com/databricks/spark-deep

[2019-02-22 02:35] #180 closed

[2019-02-25 22:16] erwa opened #189 "TonY should use localhost as default TonY history host"
Currently, we use `historyhost.com` as the default TonY history host. For ease of local setup, we should use `localhost` instead.

[2019-02-26 17:16] erwa opened #190 "ClusterSubmitter adds cachedLibPath resource to wrong conf"
Currently, ClusterSubmitter adds `cachedLibPath` to a local `hdfsConf`: https://github.com/linkedin/TonY/blob/master/tony-cli/src/main/java/com/linkedin/tony/cli/ClusterSubmitter.java#L58-L59

This `hdfsConf` not used by the actual `TonyClient` that's created. This causes `tony.jar` to be missing from the AM classpath and for the AM launch to fail because it can't find `TonyApplicationMaster`.

[2019-02-26 17:34] erwa opened #192 "TonY AM should use client conf rather than read NodeManager conf"
TonY AM currently loads configs from the local NodeManager conf in addition to the conf shipped from the client. Ideally, it should not assume/rely on any NodeManager conf settings; it should use the same conf as on the client.

[2019-02-26 18:06] #190 closed

[2019-02-26 18:06] #189 closed

[2019-02-26 18:21] erwa opened #193 "TonY History Server shows job status as RUNNING even after it has finished"
With the latest TonY code, I've noticed that the TonY History Server shows applications as RUNNING even after they have finished. Consequently, when I click on the "<application_id>" link, it returns an error "Cannot display events because job is still running". However, the tony-final.xml and RM links still work.

[2019-02-26 20:17] #192 closed

[2019-02-26 21:11] erwa opened #195 "NotebookSubmitter hangs"
Currently, the NotebookSubmitter hangs because it waits for the notebook job to finish before starting the client proxy server. There is an extra `client.start()` line in NotebookSubmitter:

[code]

[2019-02-26 21:16] erwa opened #197 "NotebookSubmitter should kill notebook when client proxy server is stopped"
Currently, when the client proxy server is stopped, the notebook YARN application continues running until it times out after 24 hours. To free up resources immediately, the NotebookSubmitter script should immediately kill the notebook application when the client proxy server is stopped.

[2019-02-26 21:36] erwa commented on #197
Should be addressed as part of https://github.com/linkedin/TonY/pull/196.

[2019-02-26 23:05] #197 closed

[2019-02-26 23:05] #195 closed

[2019-03-05 16:07] chui0107 commented on #82
Hey Folks, Thank you guys very much on supporting Tony on Hadoop 2.6. I was wondering if you guys have made any progress so far? Thanks again.

[2019-03-05 19:52] oliverhu commented on #82
We have a PR on porting this to 2.7 #172

[2019-03-07 21:40] erwa opened #198 "TonY race condition between worker termination notification and heartbeat liveness checker unregistration"
Currently, we do not unregister a task from the heartbeat monitor in the `TonyApplicationMaster` until we receive the container completion notification for the task. If the container completion notification is delayed more than 25 seconds (our default liveness threshold), then the heartbeat monitor might mark the task as failed, causing the entire job to fail.

One easy way to solve this race cond

[2019-03-07 22:16] #198 closed

[2019-03-07 22:32] erwa opened #200 "Travis CI run should `gradle check` task"
Currently, our Travis CI is configured to run `./gradlew test --stacktrace --info`, which doesn't run checkStyle or findbugs. We should add `check` to the configuration.

[2019-03-07 23:40] #200 closed

[2019-03-08 00:05] erwa opened #202 "TonY Client prints driver and notebook links for single node training even when no notebook is launched"
When using single node training, the task URLs returned to the driver say "driver 0" and "notebook 0" even when no notebook is launched. This seems to be due to this special handling in `TonyApplicationMaster.getTaskUrls()`:

[code]

`proxyUrl` is set to the TensorBoard URL in single-node training, so the above block executes even if no notebook is launched.

[2019-03-13 22:05] erwa opened #204 "startTHS.sh should run nohup as background task"
To allow Ctrl-C and running other commands like tailing logs afterward.

[2019-03-14 04:05] #204 closed

[2019-03-14 06:29] oliverhu opened #206 "Submarine Runtime related changes"
Fix the missing gaps to build a tony runtime for submarine.
- [x] A callback to pass back the application id #207

- [x] Refactor TaskUrl class to TaskStatus to track the state of each individual task.

- [x] Validation

[2019-03-14 17:10] erwa opened #208 "TonY should prepend hdfs:// to hdfs_classpath if missing"
After https://github.com/linkedin/TonY/commit/81173476771d30d89329eb65a8a2924a8b05fa88#diff-6d0c97fa9e3e7630001399a4e18a218b, `hdfs_classpath` now requires a `hdfs://` prefix or else TonyClient will fail with `/my/path doesn't exist in local filesystem.`

TonyClient should automatically prepend `hdfs://` if missing.

[2019-03-14 19:10] #208 closed

[2019-03-14 19:14] erwa opened #210 "TonyJob jobtype in Azkaban should use ClusterSubmitter rather than TonyClient"
The TonyJob Azkaban jobtype plugin currently directly calls TonyClient. However, for consistency with how TonY is generally launched from a gateway machine, it would be better for the TonyJob Azkaban jobtype to call ClusterSubmitter instead.

[2019-03-15 02:17] oliverhu opened #212 "Refactor TensorFlowCluster & related class to TonyCluster"
We still have a couple places using TensorFlow while it is not specific for TensorFlow.

- TensorFlowCluster
- TensorFlowClusterPB
- TFConfig
- TFPolicyProvider
- TFClientSecurityInfo

[2019-03-15 02:31] oliverhu commented on #210
Let's also change the class name from TonyClient to Client in this change as this is incompatible anyway

[2019-03-22 05:39] erwa opened #214 "Build TonY against Hadoop 2.7"
To support legacy clusters running Hadoop 2.7. Most of Hadoop 2.9+ APIs used can be called using reflection if available.

[2019-03-22 18:18] erwa commented on #206
Ref: https://issues.apache.org/jira/browse/SUBMARINE-40

[2019-03-22 18:26] erwa commented on #82
Hey @chui0107 ,
The `src/main/java` code compiles fine on Hadoop 2.6 after #215. `src/test/java` almost compiles, except `org.apache.hadoop.conf.TestConfigurationFieldsBase` does not exist in Hadoop 2.6.

Can you guys try the Hadoop 2.7 TonY build in #215 to see if that works for you guys with CDH 5.15.1 (Hadoop 2.6.0)?

[2019-03-23 17:52] oliverhu opened #217 "Refactor TonyClient to be more easily unit tested"
We rely on testTonyE2E for almost all TonyClient tests, that introduces a lot of overhead. As we are setting all necessary context in TonyClient, we should make it easier to unit test this component.

[2019-03-23 22:09] erwa opened #218 "NotebookSubmitter broken after #207"
In #207, a callback handler was added to NotebookSubmitter that sets the task URLs. However, when NotebookSubmitter creates a TonyClient, it doesn't pass in a callback handler, so the task URLs never get set.

[2019-03-24 00:29] #218 closed

[2019-03-24 03:22] gogasca opened #220 "Tensorboard port utilization"
**Setup**
Currently I have a Dataproc cluster of 4 instances. (1 master + 4 NodeManagers).

I have available in total resources for cluster: 48 GB RAM 16 vCPU

![image](https://user-images.githubusercontent.com/30065079/54875139-f7017d00-4db5-11e9-82d8-b75b0f27ae97.png)

When I launch a 3 TensorFlow jobs:
Each TensorFlow job: (12 GB RAM 4 vCPU):
- 1 TF Parameter Server 2GB RAM 1 vCPU
- 1 TF Worker

[2019-03-24 17:45] oliverhu commented on #220
it should be **TB_PORT** not "TB_PORT_ENV_VAR".. @gogasca  could you update the example?

[2019-03-25 06:40] oliverhu commented on #220
fixed in #221

[2019-03-25 06:40] #220 closed

[2019-03-25 21:35] erwa opened #222 "Refactor Docker-related code into ExecutorUtils"
Per https://github.com/linkedin/TonY/pull/215#discussion_r268447222, we should refactor Docker-related setup code into an ExecutorConfig or ExecutorUtils class for better code maintainability.

[2019-03-26 09:09] oliverhu commented on #42
fixed in #216

[2019-03-26 09:09] #42 closed

[2019-03-26 09:10] #74 closed

[2019-03-26 09:23] #206 closed

[2019-03-26 16:32] erwa opened #224 "Change application type from TENSORFLOW to TonY"
Currently, TonyClient sets the YARN application type to TENSORFLOW, but TonY can launch other types of programs, too. We should update the application type to TonY.

[2019-03-26 18:52] erwa commented on #167
Hmm, I don't think this is fixed. I still see

`public static final String DEFAULT_TONY_HISTORY_LOCATION = "/path/to/tony-history";`

in TonyConfigurationKeys.java.

[2019-03-26 19:03] #224 closed

[2019-03-26 20:27] oliverhu commented on #167
ok.. I saw there is a merged PR linked to this ticket, thought that fixed this.

[2019-03-26 22:53] erwa opened #226 "NotebookSubmitter broken after #211"
After #211, my custom start_notebook.py notebook launcher script is failing in the AM with
[code]

[2019-03-26 23:06] erwa commented on #226
Needed to remove quotes around my command in my script. That fixed the issue.

[2019-03-26 23:06] #226 closed

[2019-03-27 22:53] gogasca opened #227 "Support for CollectiveAllReduceStrategy strategy"
DistributionStrategy API is an easy way to distribute your training across multiple devices/machines. Goal is to allow users to use existing models and training code with minimal changes to enable distributed training. Moreover, we've designed the API in such a way that it works with both eager and graph execution

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/distribute/

[2019-03-27 23:36] erwa commented on #227
HI @gogasca ,

I think these distribution strategies should already be supported in TonY because this is decided at the TensorFlow level. TonY just starts the worker and ps tasks but then it's up to the user's TF code to decide which DistributionStrategy to use. Internally, we have AI folks who have tried all 3 (MirroredStrategy, CollectiveAllReduceStrategy, and ParameterServerStrategy) on Tony>

[2019-03-27 23:49] gogasca commented on #227
That is great, If time permits I will try to add a sample so we can highlight this in the Next talk.
Thanks

[2019-03-31 01:34] #214 closed

[2019-03-31 01:35] erwa commented on #82
@iamabug @chui0107 , we just merge #215 and now the `master` branch is building against Hadoop 2.7. Please give that a shot to see if it works with CDH 5.15.1 and Hadoop 2.6.0.

[2019-03-31 23:53] xouyang0079 opened #229 "Job stucking in GCP"
I followed the instruction to submit the job in GCP, however the progress just stuck after a while, here is the console result:
![Untitled](https://user-images.githubusercontent.com/30067403/55296956-419e7d00-53e6-11e9-9787-120591535be9.png)

[2019-04-01 01:15] xouyang0079 commented on #229
after 23 mins, it shows failed.
![Untitled2](https://user-images.githubusercontent.com/30067403/55298161-bdea8d80-53f1-11e9-8e19-cfda9ffe6820.png)

[2019-04-01 01:24] gogasca commented on #229
@xouyang0079 I was able to reproduce the issue:

Cluster creation:

[code]

Login via SSH to master:

[code]
I will track Dataproc initialization to make sure it copies the latest CLI version automatically

Launching job:

[code]

As workaround used a previous Tony version during Cluster creation:

```--initialization-actions gs://tony-staging/tony_latest.sh```

And you can use the following CLI v

[2019-04-01 01:46] xouyang0079 commented on #229
Thank you so much for your reproduction, any idea to fix it?

[2019-04-01 06:21] oliverhu commented on #229
@erwa it seems it has been broken since 806b15473b8f8f1256991febade2424a9650f669

[2019-04-01 16:59] oliverhu commented on #229
@xouyang0079  could you try use this release first? https://github.com/linkedin/TonY/releases/download/v0.2.0/tony-cli-0.2.0-all.jarony-cli-0.2.0-all.jar

[2019-04-01 19:54] erwa commented on #229
Hmm, this might be related to https://github.com/linkedin/TonY/commit/806b15473b8f8f1256991febade2424a9650f669 as @oliverhu mentioned. It's hard to debug as I can't reproduce in the LinkedIn environment. I'll dig in to this on GCP when I get a chance tonight or later this week.

[2019-04-01 21:47] oliverhu commented on #229
checked:
8e60e9f543e991e50f977b6612f45804df50f969 doesn’t work,
30c4c42e6f81de18b959de17555a9a7bd0c90a29 works
66a04dbb85601166fc543b35fd7eb58c4fe2e5e1 doesn't work
806b15473b8f8f1256991febade2424a9650f669 doesn't work

[2019-04-02 02:19] erwa commented on #229
It is indeed 806b154 that breaks TonY on GCP. If I build using the previous commit (https://github.com/linkedin/TonY/commit/e59fff720c1dce8b33aea82c22636ea87c561ffe), it works.

[2019-04-02 03:26] erwa commented on #229
Found the problem. Apparently in addition to adding `core-site.xml` and `yarn-site.xml`, we also need to add `core-default.xml` and `yarn-default.xml`. Made the changes in https://github.com/linkedin/TonY/pull/230.

[2019-04-02 06:28] xouyang0079 commented on #229
@oliverhu Hi, I try to download the tony-cli-0.2.0-all.jar and I submit the job by the following code:

export TONY_JARFILE=tony-cli-0.2.0-all.jar
gcloud dataproc jobs submit hadoop --cluster "$CLUSTER_NAME" \
--class com.linkedin.tony.cli.ClusterSubmitter \
--jars file:///opt/tony/TonY-samples/"${TONY_JARFILE}" -- \
--src_dir=/opt/tony/TonY-samples/jobs/TFJob/src \
--task_params='--data_dir /tmp/

[2019-04-02 18:08] erwa commented on #229
Hi @xouyang0079 , the job has now launched properly and the ps and workers have started. You'll need to check the logs in the AM, ps, and workers to see why the application failed.

[2019-04-02 18:23] oliverhu commented on #229
@gogasca ^ if have anything else to do to Anthony's comment like how to navigate using the worker x's log links.

[2019-04-02 19:10] gogasca commented on #229
@xouyang0079 Which TF version are you using?
The latest TonY version supports TensorFlow 1.13.1, so make sure your virtual environment is running that specific version.

Please go to the master node in Dataproc via SSH and run the following command:

[code]
And share it with us.

[2019-04-03 03:29] gogasca commented on #229
Using latest TonY version 0.3.1 should work now. I just tested it.
From your Cloud shell run the following:

Few observations:
1. Using latest TonY client version
2. Using latest Dataproc version 1.4
3. Replace BUCKET with your correct Google Cloud Storage Bucket name
4. New Dataproc version uses Python 3.6

[code]

[2019-04-03 04:53] gogasca opened #232 "TonY Dataproc initialization fails"
For some reason Internet access is not available during VM creation, and we can't build the .jar file.

Workaround: Retry build manually
[code]

[code]

https://stackoverflow.com/questions/25243342/gradle-build-is-failing-could-not-resolve-all-dependencies-for-configuration

[2019-04-03 15:25] erwa commented on #232
Hi @gogasca ,
I've published tony-cli 0.3.1 with my #230 fix this morning to Maven here: https://repo1.maven.org/maven2/com/linkedin/tony/tony-cli/0.3.1/

It should be searchable on https://search.maven.org/ in a few hours. You can give that a shot once it's available.

[2019-04-03 15:27] erwa commented on #229
FYI, I've released tony 0.3.1 with a fix for this issue to Maven here: https://repo1.maven.org/maven2/com/linkedin/tony/tony-cli/0.3.1/. It should be searchable at https://search.maven.org/ in an hour or so.

[2019-04-03 16:30] erwa commented on #229
0.3.1 is available on search.maven.org now: https://search.maven.org/remotecontent?filepath=com/linkedin/tony/tony-cli/0.3.1/tony-cli-0.3.1-all.jar

[2019-04-04 04:47] xouyang0079 commented on #229
@gogasca @erwa Hi, thanks so much for your help, now it works.

[2019-04-04 04:47] #229 closed

[2019-04-04 07:04] gogasca commented on #232
Thanks! Not able to reproduce it. Closing

[2019-04-04 07:04] #232 closed

[2019-04-04 16:24] erwa commented on #177
We're now publishing all artifacts to Maven: https://search.maven.org/search?q=g:com.linkedin.tony

Closing this.

[2019-04-04 16:24] #177 closed

[2019-04-08 14:25] lighTQ opened #234 "Dependency download failed during build"
Relying on the download failure when executing the build -x test command,

<=====--------> 38% EXECUTING [9m 45s]

<=====--------> 38% EXECUTING [9m 45s]

FAILURE: Build failed with an exception.

* What went wrong:
Could not resolve all files for configuration ':tony-azkaban:testCompile'.

[2019-04-08 19:48] oliverhu commented on #234
Pretty sure it is your local gradle/network config issue, all those links are accessible.

[2019-04-12 07:55] #222 closed

[2019-04-12 15:54] erwa opened #236 "TonY should allow setting limit per resource type"
This is useful to set a limit on the max number of GPUs that can be requested but not the memory or CPUs.

[2019-04-16 04:47] erwa opened #239 "Support Horovod in TonY"
Horovod uses OpenMPI for worker communication. The distributed tasks must be launched using `mpirun` from a single node in order for the MPI context to be set up properly (see [this SO post](https://stackoverflow.com/questions/11176653/running-openmpi-program-without-mpirun)). [mpich2-yarn](https://github.com/alibaba/mpich2-yarn) runs `mpirun` from the AM after generating an SSH key pair and setti

[2019-04-16 18:46] #236 closed

[2019-04-19 21:32] oliverhu opened #241 "Distributed Mem Cache for large embedding lookups"
There are use cases that each worker requires to access a large embedding lookup table: 100 GB.

In current setup, each worker would have to request 100GB worker memory to load the whole embedding map into memory for querying. We could potentially spin off a mem cache cluster to store & serve key-value for workers.

[2019-04-19 21:49] oliverhu commented on #241
Redis seems like a good choice.

[2019-04-22 03:15] erwa opened #242 "TonY should collect and write out metrics for all tasks"
One way to do this is to have the TaskExecutor monitor the task and periodically report metrics back to the AM. The AM can then write out the metrics for the task when the task finishes.

[2019-04-22 16:51] #242 closed

[2019-04-22 17:02] erwa opened #244 "Duplicate log messages when using tony-cli-all jar"
Currently, the tony-cli log4j.properties file has 2 loggers that both write to stdout, resulting in duplicate log messages. We should remove one of them.

[2019-04-22 21:30] oliverhu opened #246 "SRC_FILE::DEST_FILE#archive doesn't work in TonyClient"
This convention only works in AM, but doesn't seem to work in TonyClient 🤔

[2019-04-22 22:53] #244 closed

[2019-04-22 22:54] erwa opened #247 "TonY history server fails to parse history directory when there are multiple AM attempts"
TonY history server currently assumes there is one file containing "jhist" in an application's history file location. There may be multiple "jhist" files if there were multiple AM attempts.

[2019-04-23 01:09] #247 closed

[2019-04-23 01:10] erwa opened #250 "TonY History Server fails to move intermediate application directory to finished directory when application has more than one AM attempt"
If an application has more than one AM attempt and the last attempt was successful, there could be both a `X.jhist.inprogress` file and a `X.jhist` file in the same application directory. In this case, currently, TonY History Server thinks the application is still in progress and never moves it from the intermediate directory to the finished directory.

[2019-04-23 03:49] erwa opened #252 "TonY History Server shows duplicate events on job events page"
When parsing events from the events file, TonY History Server currently reuses the Avro record object, causing all the events shown to be the last event read.

[2019-04-23 04:43] #250 closed

[2019-04-23 12:06] #252 closed

[2019-04-23 17:30] #246 closed

[2019-04-24 16:25] erwa opened #254 "Rename TonY History Server to TonY Portal"
In the future, the TonY History Server will be a portal for launching notebooks, TensorBoard, and MLflow in addition to showing information about TonY jobs. Thus, a more appropriate name is TonY Portal.

[2019-04-24 21:20] erwa opened #257 "tony_src.zip is not unique between executions, possibly causing corruption if multiple TonY jobs are run in parallel"
TonY zips the `--src_dir` into a `tony_src.zip` in the current directory. If multiple TonY jobs are launched simultaneously, this may cause a partially-written or incorrect tony_src.zip to be shipped, resulting in
[code]
in the TonY YARN application.

Internal Jira: LIHADOOP-45921

[2019-04-24 22:41] #170 closed

[2019-04-24 22:41] #254 closed

[2019-04-29 15:57] erwa opened #260 "Publish tony-cli-all jar to Maven"
Currently, we only publish thin jars to Maven. For ease of use, we should publish the tony-cli-all jar as well.

[2019-04-30 19:11] erwa commented on #260
Turns out the "all" classifier jar is already published to Maven.
![all-jar](https://user-images.githubusercontent.com/544734/56986943-01473180-6b41-11e9-90fd-658c83e8249d.png)

To use from Maven, you need to specify the classifier as `all`, e.g.:
[code]

[2019-04-30 19:11] #260 closed

[2019-05-01 15:55] erwa opened #261 "TonY Portal creates finished dir based off start time rather than finish time"
Currently, TonY Portal uses the modification time of the `intermediate/<appId>` directory to create the `finished/yyyy/mm/dd` directory. The modification time is approximately the start time, but we should be using the finish time, which is embedded in the `intermediate/<appId>/<appId>-<start>-<end>-<user>-<status>.jhist` file name.

[2019-05-01 15:57] erwa opened #262 "TonY Portal synchronously scans and moves folders from intermediate to finished every time the main page is loaded"
Currently, every time the main page (JobsMetadataPage) is loaded, TonY Portal synchronously scans the `intermediate` directory and moves all finished applications to the `finished` directory. This can significantly delay load time. The scanning and moving should be done in a periodic background thread.

[2019-05-02 02:48] erwa opened #264 "TonY Portal scans all intermediate and finished directories every time the main page is loaded"
Currently, every time the main TonY Portal page is loaded, the web server scans the intermediate and finished directories. This includes all the yyyy/mm/dd subdirectories under the finished directory. This makes page loading slow and makes a lot of calls to the NameNode.

Instead, a background thread should populate the in-memory cache of jobs, and the main TonY Portal page should render using the

[2019-05-02 16:11] erwa opened #265 "TonY Portal cannot show events for running jobs"
Currently, if you try to open the events page for a running job, TonY Portal returns "Cannot display events because job is still running". Instead of showing this message, TonY Portal should show all the events that have been emitted so far (such as `APPLICATION_INITED`).

[2019-05-02 16:23] erwa opened #266 "Checkstyle and FindBugs does not seem to run properly for tony-portal module"
The tony-portal module uses the Play plugin and puts Java source files in a different location than standard Java modules use. As a result, I think Checkstyle and FindBugs are not finding the source files and not scanning them. I see some unused imports and there are no complaints during `./gradlew check`.

[2019-05-02 18:21] #261 closed

[2019-05-02 18:23] #262 closed

[2019-05-02 19:53] oliverhu commented on #266
also even if i use -x test in gradle, it still runs tests for tony-portal module for some reason

[2019-05-02 19:58] #264 closed

[2019-05-02 20:54] erwa commented on #266
@oliverhu, that's because Play tests using the `testPlayBinary` task. You'd have to add `-x testPlayBinary`. You can see all the tasks by running `./gradlew :tony-portal:tasks --all`.

[2019-05-02 21:57] haibchen opened #268 "Expose Azkaban flow information in YARN application tag"
The Azkaban flow information is useful in debugging settings to tracking down which Azkaban flow a Tony job belongs to. We could expose that information via YARN application tag for that purpose.

[2019-05-03 03:53] erwa opened #270 "Move TonyClient.APP_TYPE to Constants and make public"
Currently, `TonyClient` defines `private static final String APP_TYPE = "TONY"`. We should move this to `Constants` and make it `public` so that it can be referenced in other applications like Dr. Elephant.

[2019-05-03 03:55] erwa opened #271 "Config file written to history location should be named tony-final.xml rather than config.xml"
The final config file we ship to the AM and TaskExecutors is named `tony-final.xml`. We should name the config file written to the history location the same thing rather than renaming it to `config.xml`.

[2019-05-03 16:39] erwa opened #273 "TonY Portal should have time zone configuration"
TonY Portal currently creates the `finished/yyyy/MM/dd` directory based on the system's default time zone. This should be configurable and there should be a clear default (e.g.: UTC). This is to allow other systems such as Dr. Elephant to translate the finish time embedded in the jhist file name to the proper `yyyy/MM/dd`.

[2019-05-03 17:47] #270 closed

[2019-05-03 17:47] #271 closed

[2019-05-05 19:33] oliverhu commented on #266
I see, that explains.

[2019-05-06 06:18] gogasca opened #275 "PyTorch support for Tensorboard"
PyTorch 1.1 announced recent support for TensorBoard.
Creating FR for TonY to add support for it via Unique URL + sample

https://pytorch.org/docs/stable/tensorboard.html
https://github.com/pytorch/pytorch/releases

[2019-05-06 17:35] erwa opened #276 "TonY should emit TASK_STARTED event"
This can help us calculate resource usage (e.g.: per task MB-seconds) for Dr. Elephant analysis.

[2019-05-06 19:33] #276 closed

[2019-05-08 18:31] erwa commented on #275
It looks like this PyTorch TensorBoard support is just a library to log events in a format that TensorBoard understands. Running TensorBoard as part of your TonY job can be done the same way, relying on the `TB_PORT` environment variable TonY sets. I don't think any additional dev effort is required.

[2019-05-08 22:20] erwa opened #279 "TonY HistoryFileMover stops after the first job without a history file or that is still in progress"
Currently, `HistoryFileMover` does the following

[code]

The `return` should be ` continue`.

[2019-05-09 05:14] #279 closed

[2019-05-09 05:32] erwa opened #281 "Automate close and release of staging repo on Nexus"
Inspired by a Tech Talk today (@mockitoguy), we can automate the "Close" and "Release" steps of our release to Nexus using https://github.com/Codearte/gradle-nexus-staging-plugin/.

[2019-05-09 23:58] #281 closed

[2019-05-10 19:40] #268 closed

[2019-05-13 13:00] yuanzac opened #284 "Token for application rpc should support IP service name"
The token generated in ApplicationMaster.prepare() uses hostname as token's service:

[code]

The token's service name should be specified with the configuration of hadoop.security.token.service.use_ip

[2019-05-15 16:39] erwa opened #286 "Add TonY logo to README.md"
We can use this logo:
![tony-logo-small](https://user-images.githubusercontent.com/544734/57793050-45b3ff00-76f5-11e9-8cc0-8ebb830b6e78.png)

[2019-05-15 16:48] oliverhu commented on #286
should we use the smily version?

[2019-05-15 23:51] erwa commented on #286
Haha, I much prefer this version with sharp teeth.

[2019-05-15 23:51] #286 closed

[2019-05-16 21:49] erwa opened #289 "Rename tony.application.X.command and tony.application.containers.command to tony.X.command and tony.containers.command"
For consistency with other task-specific configurations.

[2019-05-17 11:56] jasonTuZq opened #292 "Client cannot authenticate via:[TOKEN, KERBEROS]"
hi, i'am trying the mnist-tensorflow example on my cluster (which has been kerberosized), the node which submit this tony-job shows log below:
[code]
this seems allright, while the logs in the ps & worker node both show `java.io.IOException: org.apache.hadoop.security.AccessControlException: Client cannot authenticate via:[TOKEN, KERBEROS]` , more is below:
[code]
this seems having problem to auth

[2019-05-17 22:57] erwa opened #293 "TensorBoard in TensorFlow mnist_distributed example doesn't show data"
The logdir used is correct but no data is shown.

[2019-05-18 01:50] oliverhu commented on #292
@jasonTuZq is that failing your job?  I think this is related to the TonyMetrics for metrics data collection and should not be in the critical path.

@erwa ^^

[2019-05-18 07:40] jasonTuZq commented on #292
@oliverhu this doesn't fail the job but the training doesn't seem to run,  the job doesn't get finished even after several hours & the print infos i add to the training py script don't show on the log of any ps or worker node.

[2019-05-18 07:50] jasonTuZq commented on #292
below are more log that i forgot to paste, this seems to be a critical problem
[code]

[2019-05-18 22:34] #293 closed

[2019-05-20 17:11] erwa commented on #292
This may be related to #284, which another user reported.

[2019-05-20 17:18] erwa commented on #284
Interesting, in our cluster, we have `hadoop.security.token.service.use_ip=false`, which is probably why I haven't seen this error before.

[2019-05-21 00:49] erwa commented on #292
@jasonTuZq , is `hadoop.security.token.service.use_ip=true` in your cluster? (If it's not set, the default is `true`.)

[2019-05-23 20:05] ChethanUK opened #297 "Error when trying to deploy tony in Google Cloud Dataproc"
I was trying to install Tony with Dataproc,

I got an error when
[code]

Installation failed because of
[code]

is there is any better solution?

[2019-05-24 01:32] oliverhu commented on #297
@ChethanUK what failed ? I don't see failure message from what you pasted

[2019-05-24 05:35] oliverhu commented on #284
All tests also pass locally for me 🤔

[2019-05-24 06:27] oliverhu commented on #297
I think HEAD is broken @erwa

[2019-05-24 10:06] oliverhu opened #299 "#214 broke Docker runtime"
[code]

[2019-05-24 10:07] oliverhu commented on #299
there is a typo above

[2019-05-24 13:00] erwa opened #302 "TonY Portal should roll logs and enforce log retention"
Currently, TonY Portal logs files to `nohup.out` and `application.log`. Neither of these files is rolled, nor is a max size enforced. Eventually, we will run out of disk space. TonY Portal should roll logs (e.g.: on a daily basis), and clean up log files older than a configurable period of days.

[2019-05-24 14:25] erwa opened #303 "TonY Portal should support sorting and filtering results"
Currently, the applications are shown in the TonY Portal in random order. Users should be able to sort by each of the columns and also filter by a string.

[2019-05-24 15:04] oliverhu opened #304 "E2E test environment for Docker related changes"
Follow up on #300, as internally we don't use docker to run TonY, we need a unit test environment to run some tests to ensure docker related features work.

[2019-05-24 15:59] #299 closed

[2019-05-24 15:59] oliverhu commented on #299
fixed in #300

[2019-05-24 16:00] oliverhu commented on #284
fixed in #298

[2019-05-24 16:00] #284 closed

[2019-05-24 16:00] oliverhu commented on #292
Should be fixed in master HEAD.

[2019-05-24 16:01] oliverhu commented on #292
I'm a bit surprised that we don't see this issue in our cluster tho 🤔  @erwa

[2019-05-24 18:32] #98 closed

[2019-05-24 19:19] erwa opened #306 "TonY Portal start script hangs when run over SSH"
This seems to be due to https://en.wikipedia.org/wiki/Nohup#Overcoming_hanging. We should redirect stdin, stdout, and stderr to overcome this issue.

[2019-05-24 19:58] erwa commented on #292
@oliverhu, we probably don't see this issue because in our clusters, we set `hadoop.security.token.service.use_ip=false`.

[2019-05-24 20:53] #306 closed

[2019-05-24 23:54] oliverhu commented on #292
Oh I see. I thought we use default in our cluster. Any idea why we set it to false manually? @erwa

[2019-05-27 02:19] oliverhu commented on #289
Merged

[2019-05-27 02:19] #289 closed

[2019-05-27 02:19] oliverhu commented on #292
Merged and published in 0.3.11

[2019-05-27 02:19] #292 closed

[2019-05-27 02:21] oliverhu commented on #93
I think this could be closed now

[2019-05-27 02:21] #93 closed

[2019-05-27 03:08] mohammedayub44 commented on #82
@erwa @iamabug  Our team has a similar Hadoop(2.6.0) + CDH(5.13.1) setup. This repo looks like a promising toolkit to start optimizing you hadoop compute for ML jobs.
I'm new to this. Is there a step-by-step tutorial to start building this on above setup on CDH. Really appreciate if you share what mods you have to do.

Cheers !

[2019-05-27 03:24] iamabug commented on #82
Sorry for the late reply @erwa . I will build TonY on our cluster and report the results, though our team has moved on from there.
@mohammedayub44 I recall that the official tutorial works just fine and no modifications are made.

[2019-05-27 04:47] iamabug commented on #82
`BindException` comes up. I find that port 19001 is already used. Could you tell me how to  change it to other port ? @erwa

[2019-05-28 14:33] erwa commented on #82
@mohammedayub44, I believe TonY should compile if you update the Hadoop version to 2.6. There is only one _test_ compilation issue with Hadoop 2.6, since we use the `TestConfigurationFieldsBase` class introduced in Hadoop 2.7. But you can just disable the `TestTonyConfigurationFields` test and then other tests should work (though I haven't actually tested).

@iamabug, can you tell me the exact com

[2019-05-28 14:34] erwa commented on #292
I don't know the context behind why we set `hadoop.security.token.service.use_ip=false` in our clusters. I suggest checking with our SREs.

[2019-05-29 03:42] mohammedayub44 commented on #82
@iamabug @erwa Thanks for your responses. Not in a hurry, so I will try it out this week. Let me know if you try it out before.

[2019-05-30 01:46] erwa opened #309 "Add link to TonY presentation at DataWorks DC 2019"
We should add a link to https://www.slideshare.net/ssuser72f42a/scaling-deep-learning-on-hadoop-at-linkedin in our README.md

[2019-05-30 03:33] #273 closed

[2019-05-30 05:41] oliverhu opened #311 "Support different docker images for job types"
We don't support using different docker images for different job types currently.

[2019-05-30 16:40] #309 closed

[2019-05-30 19:08] erwa opened #312 "Update TonY logo on TonY portal page"
We should standardize on the logo with sharp teeth for consistency.

[2019-05-31 00:35] erwa opened #314 "Repetitive log message when task deemed dead"
Currently, when a task is deemed dead (because it missed too many heartbeats), TonY logs 2 repetitive messages:

[code]

The first message (which can be changed to ERROR) is sufficient.

[2019-05-31 15:01] #312 closed

[2019-05-31 17:19] #314 closed

[2019-06-06 04:17] erwa opened #318 "NullPointerException in ParserUtils.parseConfig if config is missing <final> element"
Currently, ParserUtils assumes that each `<property>` in the job config has the following 4 subelements:
* `<name>`
* `<value>`
* `<final>`
* `<source>`

`<final>` may not always be present, causing a NPE:

[code]

To be more robust, we should add null checks.

[2019-06-06 21:23] #318 closed

[2019-06-11 03:12] UWFrankGu opened #321 "Support to collect GPU metrics"
Currently, only max memory usage metrics for each container is collected and displayed at TonY Portal. GPU metrics should also be included.

[2019-06-12 06:13] oliverhu opened #323 "If users try to upload a resource named venv.zip#archive, TonY job would fail"
[code]

[2019-06-12 06:20] oliverhu commented on #323
The job won't actually fail but log a stack trace with FATAL. This appears very alerting to the users.

[2019-06-12 16:44] #321 closed

[2019-06-13 01:38] erwa opened #326 "Remove default 1 ps and 1 worker"
Currently, TonY defaults to 1 ps and 1 worker. This may cause issues if users only want to use workers or only need 1 chief worker. Better to let the user set it explicitly.

[2019-06-13 15:53] #326 closed

[2019-06-14 01:12] #323 closed

[2019-06-17 16:33] UWFrankGu opened #328 "TonY shouldn't throw GPUDiscoverer errors when GPUs not requested"
GPUDiscoverer would throw errors at parameter server tasks when users request worker GPUs. This does not affect job execution, however, GPU utilization should not be monitored when user doesn't request GPU on a specific task type.

[2019-06-19 22:01] erwa opened #330 "TonY AM should stop non-tracked tasks and wait a little for them to finish and emit TASK_FINISHED events before exiting"
Currently, AM exits soon after the last tracked task finishes. PS tasks run forever and TASK_FINISHED events (with metrics) may never be emitted for them. AM should stop untracked tasks and wait a little for them to finish.

[2019-06-20 15:39] erwa opened #332 "Remove unnecessary tony.application.single-node property"
After #327, the default is 0 task instances. Single node or not can be deduced by whether the number of task instances is non-zero.

[2019-06-20 20:17] erwa commented on #227
Going to close this issue for now; please reopen another issue specifically for adding a CollectiveAllReduceStrategy if you plan to do so.

[2019-06-20 20:17] #227 closed

[2019-06-21 09:02] pdambrauskas commented on #82
I've managed to launch it on `2.6.0-cdh5.14.2`
I had to remove `TestTonyConfigurationFields` as mentioned above, and make some changes:
[code]
`appAttemptID` is allways null on `ApplicationMaster`, and on cdh5.14.2 we have `ClientToAMTokenIdentifier#write`, which calls `this.applicationAttemptId.getApplicationId().getClusterTimestamp()` resulting in NullPointerException.
Havent invested much time

[2019-06-21 16:56] #330 closed

[2019-06-21 16:56] #328 closed

[2019-06-21 16:56] erwa commented on #332
Fixed in #331.

[2019-06-21 16:56] #332 closed

[2019-06-23 18:14] oliverhu commented on #311
Another issue is Docker environment doesn't seem right for non AM containers

[2019-06-25 04:36] #311 closed

[2019-06-27 05:02] ChengbingLiu opened #339 "TensorFlow read files from HDFS with no retry"
Lately, we have been using TonY to run TensorFlow training jobs on YARN. Most functions work quite well. But there is one annoying issue, maybe with TensorFlow, but I seek to hear from the TonY dev team.

Our training and testing data resides in an HDFS cluster whose NameNode is quite busy and has "connection timed out" issue several times a day. Normally this does not cause any problem since HDFS

[2019-06-27 05:21] oliverhu commented on #339
I think it is due to your client's misconfiguration, make sure local HADOOP_CONF is pointing to the right directory.

[2019-06-27 09:40] ChengbingLiu commented on #339
@oliverhu I checked environment variables of the launched python process:
CLASSPATH includes /etc/hadoop/conf
HADOOP_CONF_DIR=/etc/hadoop/conf
YARN_CONF_DIR=/etc/hadoop/conf

It should be OK, and normally I was able to access both local and remote HDFS cluster. The problem only occurs to me when the remote HDFS's NameNode is unstable.

TensorFlow worker's log suggests that no retry has been made.

[2019-06-27 17:13] oliverhu commented on #339
The retry is based on YARN rpc's configuration. it should be something in yarn-site.xml or yarn-default.xml

[2019-06-28 00:13] erwa commented on #339
I believe the HDFS client should retry by default, and you should also be able to configure the retry policy. If your NameNode is unstable, this should affect all your HDFS clients, not just TonY TensorFlow jobs. You might also look into tuning and stabilizing your NameNode.

[2019-06-28 09:54] ChengbingLiu commented on #339
Thanks @oliverhu and @erwa , I have finally solved it out. By setting dfs.client.retry.policy.enabled = true , the HDFS client will try to reconnect to the specified active NameNode of another cluster.

Reference: https://issues.apache.org/jira/browse/HDFS-4389

Btw, we have many clusters, each with HA setup, which is why active NameNode of other cluster is specified instead of the HA namespace. T

[2019-07-05 07:37] #339 closed

[2019-07-05 14:06] ChengbingLiu opened #341 "Integrate hyperparameter tuning with TonY portal"
Can TonY provide tools for hyperparameter tuning? Maybe something like Scikit-learn's GridSearchCV. Thanks!

[2019-07-07 06:36] oliverhu commented on #341
This is something in our mind, but not something near term, feel free to contribute :)

[2019-07-08 10:18] ChengbingLiu opened #342 "TonY can't get delegation token when using ViewFS"
In `TonyClient`, `fs.getDelegationToken` is used to get delegation token, which is an internal method and should not be called according to Javadoc. Current implementation can not handle ViewFS. We should use `fs.addDelegationTokens` instead.

[2019-07-08 11:49] ChengbingLiu opened #344 "Exclude evaluator from cluster spec and include it in untracked.jobtypes"
To fully support evaluator, two changes should be made:
1. evaluator should not be included in cluster spec
2. evaluator should better be included in `untracked.jobtypes` by default, along with ps

[2019-07-08 12:07] ChengbingLiu opened #346 "Unset MALLOC_ARENA_MAX for better performance"
Hadoop set the environment variable `MALLOC_ARENA_MAX=4` by default, to limit virtual memory usage from increasing too fast (https://issues.apache.org/jira/browse/HADOOP-7154 ). Our experiments shows that removing this env can speed up 3x with TensorFlow training. If you see a long `Unique` bar in your timeline, then you are hitting this problem.

I propose to explicitly unset MALLOC_ARENA_MAX, or

[2019-07-08 17:29] oliverhu commented on #346
Agree with this since GPU training requires access to the whole memory region, feel free to submit a PR on this.

[2019-07-08 17:40] erwa opened #347 "Update Checkstyle to prohibit wildcard imports"
This helps make it clear exactly what classes and methods are being imported and used.

[2019-07-09 17:47] erwa opened #350 "TestTonyE2E testTonyClientCallbackHandler test is flaky"
As seen in https://travis-ci.org/linkedin/TonY/builds/553032013, sometimes it fails due to
[code]

This is due to a race condition between TonyClient fetching the task status and the AM shutting down. Currently, here is what might happen:

[code]

Since the PS status is updated after the amRpcClient is set to null, the PS status will never be updated from RUNNING to FINISHED.

[2019-07-09 23:29] #350 closed

[2019-07-11 15:57] erwa commented on #344
Hi @ChengbingLiu,

I believe it should not cause problems to include evaluator in the cluster_spec. TF seems to just ignore keys it doesn't recognize. We want TonY to be flexible and allow users to launch auxiliary task types (e.g.: to host sidecar tables) and have them all included in the cluster_spec, which is a central place all tasks can be parsed from.

As discussed in #345, in general you *d

[2019-07-11 16:11] erwa commented on #346
We've seen cases where 300+ GB of virtual memory are used when only 3 GB of physical memory is used. This seems to happen when GPUs are used and the GPU allocates a lot of virtual memory. We had to disable the virtual memory check (`yarn.nodemanager.vmem-check-enabled=false`) to work around this issue. Perhaps setting `MALLOC_ARENA_MAX` can help.

[2019-07-11 16:28] erwa commented on #346
@ChengbingLiu, can you explain what you mean by

I am not sure what the "`Unique` bar" is or what timeline you are referring to.

[2019-07-12 02:08] ChengbingLiu commented on #346
@erwa Yes, you are right. This post is about letting virtual memory usage increase faster.

Unique is an operator for finding unique elements in a 1-D tensor: https://www.tensorflow.org/api_docs/python/tf/unique
![图片](https://user-images.githubusercontent.com/5031567/61097190-e2dcab00-a48c-11e9-9e38-c16d855acaea.png)

[2019-07-12 20:26] erwa commented on #303
See #353.

[2019-07-12 21:54] #346 closed

[2019-07-12 22:37] #342 closed

[2019-07-26 04:27] erwa commented on #193
@StanfordMCP , some thoughts on this:
* if the job finishes normally, the .jhist.inprogress file should get renamed to .jhist (this happens at the end of ApplicationMaster.run() -- eventHandler.stop() is called and that calls moveInProgressToFinal())
* what might be happening is when the job starts running, the TonY Portal has already loaded it into its in-memory cache as a RUNNING job and when th

[2019-07-31 06:42] #344 closed

[2019-08-06 06:00] ChengbingLiu opened #356 "Allow launching TensorBoard after training has finished"
When the training job is running, TensorBoard can be easily accessed through the AM tracking link. It will be much more convenient if we allow user to launch TensorBoard even after the training has finished. Do we have an idea or plan for this?

[2019-08-06 12:12] erwa commented on #356
What we do is we have a pre-built Python PEX virtual environment with TensorBoard already installed with an entry point that launches TensorBoard. And then we have a simple launcher script we put on our gateway machines that users run to launch TensorBoard. Something like `start-tensorboard.py /path/to/log/dir`. The script just uses `ClusterSubmitter` to launch TB.

[2019-08-08 21:04] oliverhu opened #360 "byteps support"
add byteps environment set up to TonY

[2019-08-08 21:35] hungj opened #361 "TonY AM fails on RM Restart"
[code]

When RM restarts, RM sends AM an allocated event for a container that was already allocated. It has already been set in TonySession#containerRequests though. Hence the match returns null.

[2019-09-03 05:59] ChengbingLiu opened #364 "Improve temporary files handling"
ClusterSubmitter will generate the following two temp files:
- tony_src.zip
- application_xxxxx_yyy-tony-final.xml

Currently we have two problems:
1. If we start multiple jobs at the same time, we have concurrent writing issue with tony_src.zip, which causes the jobs to fail. Maybe the file name should have a unique id, or the file be located in a directory with a unique id.
2. application_xxxxx_

[2019-09-03 17:35] oliverhu commented on #364
yeah, this is a known issue, application_xx_yy was added to avoid the 1st issue.

We could add some deletion logic after the job has finished (either failed or succeeded), feel free to submit a PR.

There is one good thing about leaving the files there tho.. debugging is easier with them there.

[2019-09-04 17:28] gogasca commented on #297
@ChethanUK you can use the initialization [here](https://github.com/GoogleCloudPlatform/dataproc-initialization-actions/tree/master/tony) and the guide under examples which contains scripts as well. https://github.com/linkedin/TonY/tree/master/tony-examples/tony-in-gcp

[2019-09-04 18:00] hungj opened #365 "TaskExecutor should release port immediately prior to launching shell"
If there's a large TonY app (e.g. >200 executors), it's possible one TaskExecutor sets up ports long before another. By this time the first TaskExecutor will have acquired and released a port, and the longer the setup time between two executors, the more likely some other TaskExecutor (by a different application) will try to setup on the same port.

The fix is for TaskExecutor to hold onto the por

[2019-09-04 19:53] erwa commented on #55
Resolving as duplicate of #364.

[2019-09-04 19:53] #55 closed

[2019-09-05 17:23] oliverhu opened #367 "TonY Stops when received error from RM"
[code]

in code
[code]

We should have some recovering mechanism instead of just stopping the world

[2019-09-06 03:34] burgerkingeater commented on #365
@hungj can we close this issue given it's resolved?

[2019-09-06 03:35] #365 closed

[2019-09-07 15:10] erwa commented on #365
Fixing this issue is a good way to mitigate the chance of a race condition causing port contention. However, the race condition still exists, though the window where it might happen has been reduced. I think we could eliminate the race condition entirely between different TaskExecutors running on the same machine as follows:

* rather than finding an arbitrary free port, each TaskExecutor could it

[2019-09-09 07:26] oliverhu commented on #365
+1 to @erwa , this sounds like a good enough synchronization mechanism for now.

[2019-09-10 22:22] hungj opened #368 "Add option to disable GPU metrics collection"

[2019-09-11 00:12] #368 closed

[2019-09-19 20:04] jhomrocky opened #371 "TonY fails to utilize > 2 Virtual GPUs on Tensorflow"
Attempting to integrate TonY into an existing Hadoop cluster (Hadoop && Yarn 3.1.1).

Cluster:
4 nodes, no GPU (1 being ResourceManager)
4 nodes, all have a virtual GPU attached

Using the `mnist_distributed` example (same happens with `mnist_keras_distributed` and other TF examples), TonY will force the Parameter Server onto a GPU node, (usually) force the ApplicationMaster onto a GPU node, and t

[2019-09-19 21:26] oliverhu commented on #371
this should not be the same, can you paste how you start your job and configurations?

[2019-09-19 22:23] jhomrocky commented on #371
@oliverhu Sure. I can provide the command to start & `tony.xml` config file, anything else I can get tomorrow morning. I followed the Tensorflow example so the steps leading up to attempting to run a job are the same. I've also tried numerous other ways like with and without `sudo`, with `ps.instances` at 0, manually specifying the nodes in `mnist_distributed.py` in the `ClusterSpec`, and a few ot

[2019-09-19 22:43] oliverhu commented on #371
Can you upload a zip of all the logs, like amstdout, amstderr for AM & stdout, stderr for the workers?

From what you said, it seems like the communication between workers and AM could not be established.

[2019-09-19 23:03] jhomrocky commented on #371
I can in the morning, thanks again!

[2019-09-20 15:01] jhomrocky commented on #371
Sorry for taking so long. Had to make sure IPs were replaced and whatnot.

ZIP is attached

[2019-09-20 15:02] jhomrocky commented on #371
Here you go, sorry for taking so long, had to make sure privacy was taken care of

[TonY logs.zip](https://github.com/linkedin/TonY/files/3636533/TonY.logs.zip)

[2019-09-20 16:45] oliverhu commented on #371
@jhomrocky pretty sure it is because you don't enough resource in your cluster for your third worker..

[2019-09-20 16:46] jhomrocky commented on #371
There is. Each node has 4 cores and 32gb of RAM. I can't even run it with workers at 2GB.

[2019-09-20 16:59] oliverhu commented on #371
How many GPUs do you have?

[2019-09-20 17:05] jhomrocky commented on #371
4 virtual GPUs, one on each Node. They all pull from one central GPU that is distributed via NVIDIA GRID. This may well be an issue with it being a Virtual GPU, but I wanted to cover all aspects.

[2019-09-20 18:14] hungj commented on #371
@jhomrocky you're using capacity scheduler right? Could you also include a screenshot of your scheduler page with the queue dropdown fully expanded, after the two workers + PS + AM has been allocated and the third one is stuck? It'd be useful to see what resources the resource manager thinks is available/allocated.

[2019-09-20 20:03] jhomrocky commented on #371
@hungj yes I am. It only shows 2 GPUs being used :/ Unless I am reading it wrong.

![Used_Resources](https://user-images.githubusercontent.com/32281331/65355575-3f142780-dbc0-11e9-8b73-2c014d74fd69.PNG)

[2019-09-20 22:31] hungj commented on #371
Yeah. That's weird, everything looks OK from the screenshot. Perhaps you could also verify that the resource manager is receiving this third worker resource request? Then can you verify that container _000005 (for the third worker) has not been allocated on the RM side?

If RM is indeed receiving this request and not allocating it, it sounds like a cluster configuration issue, you may need to dig

[2019-09-20 22:33] jhomrocky commented on #371
I can check it out first thing Monday morning for sure.

[2019-09-23 14:50] jhomrocky commented on #371
@hungj Good morning. I combed through logs set to debug this morning and it doesn't seem that the RM is getting a request for an _000005 container at all. It gets requests for 000001-000004 but not 000005.

I can provide logs if it will help. Still waiting to hear back from NVIDIA.

[2019-09-23 19:14] oliverhu commented on #371
Yah, this appears to be an issue from the RM side, please check with Nvidia to see if anything is wrong with their Grid. Keep us posted.

[2019-09-23 19:22] jhomrocky commented on #371
For sure! Thanks for the help.

[2019-09-24 08:42] linjiaqin opened #373 "When run the keras mnist example, it occurred java.io.EOFException while invoking TensorFlowClusterPBClientImpl.getTaskInfos"
**describle:**
I user anaconda to create my python environment. It named py3.6. So I zip it rather than venv.
Does it matter?
After I  submtted the command , the logs stop output for a long time and then start to output below:
**Exception between local host is: "cu11/192.168.0.11"; destination host is: "cu09":12301; : java.io.EOFException; For more details see:  http://wiki.apache.org/hadoop/EOFEx

[2019-09-26 01:29] oliverhu commented on #373
@linjiaqin  can you attach all the container logs?

[2019-09-27 06:04] oliverhu opened #379 "host token expires when tony asks for many containers"
[code]
AMRMClient gets token for a host once, if the RM failed to allocate the container in that host within 10 minutes, the token would expire. Need a way to renew or recover

[2019-10-01 22:40] hungj commented on #379
Issue is that AM does not launch containers fast enough after receiving allocation.

The token timers start when AM heartbeats and pulls its latest allocations. If many containers are requested, it will receive these allocations in a batch.

AM then uses a single thread to launch containers on these allocations:
`    @Override
    public void onContainersAllocated(List<Container> containers) {

[2019-10-02 23:58] #379 closed

[2019-10-03 00:03] hungj opened #388 "AM hangs when running tests"
For example, it hangs here: testTensorBoardPortSetOnlyOnChiefWorker
[code]

[2019-10-08 20:51] hungj opened #392 "Print tony version in tony client and tony AM"
Useful for source of truth tony version for an application.

[2019-11-07 07:40] UWFrankGu opened #402 "TonY should be able to launch jobs using dependency graphs"

[2019-11-19 20:21] hungj commented on #361
FWIW, #387 "fixes" this issue - since containers are launched in a thread pool, duplicate container launch will fail but it's not part of the main thread so the AM will not terminate. (The above exception is still printed though.)

[2019-11-20 04:30] oliverhu commented on #361
@hungj we could close this then?

[2019-12-03 11:39] pingsutw opened #404 "Could we set LD_LIBRARY_PATH as default shell_env in container"
If we want to read hdfs by `tf.io.gfile`, we need to specify **HADOOP_HDFS_HOME** and **LD_LIBRARY_PATH** as container shell environment variable. In some cases, user already set these variable in their machine,so could we directly set these variable as default. e.g. ` export HADOOP_HDFS_HOME=$HADOOP_HDFS_HOME` in worker

[2019-12-03 18:50] oliverhu commented on #404
Mm, we don't actually set those parameters for our jobs, it seems to automatically pick up local env. Are you using docker or virtual env zip?

[2019-12-04 13:43] pingsutw commented on #404
I follow this [link](https://github.com/linkedin/TonY/tree/master/tony-examples/mnist-tensorflow) to run MNIST example, and change working_dir to hdfs
run with below command :
`java -cp $(hadoop classpath --glob):/root/git/TonY/tony-cli/build/libs/tony-cli-0.3.21-all.jar com.linkedin.tony.cli.ClusterSubmitter --python_venv=venv.zip --src_dir=/root/git/TonY/tony-examples/mnist-tensorflow/ --execute

[2019-12-04 17:34] oliverhu commented on #404
I see, it is specified here https://github.com/linkedin/TonY#faq. not for every body tho.

[2019-12-04 18:42] oliverhu commented on #404
I guess i know your problem. the issue is $LD_LIBRARY_PATH is only set in your submission host (gateway or local host), but not set in the cluster machines.

[2019-12-09 08:28] pingsutw commented on #404
Thanks @oliverhu, I fixed it, I printed out the configuration in my containers,
I found that there are some configuration missing in the cluster machines.

[2019-12-09 20:09] oliverhu commented on #404
cool! closing the ticket.

[2019-12-09 20:09] #404 closed

[2019-12-11 00:05] goyalankit opened #405 "Handle untracked job type crash by failing the application."
There have been cases where if the 'ps' crashes, then the worker
    processes hang forever waiting for establishment of session with the
    ps.

[2019-12-11 00:59] goyalankit commented on #405
#406

[2019-12-12 10:30] WeponX opened #407 "Does Tony support Tensorflow 2.0 ?"
Does Tony  support Tensorflow 2.0 ?  is  there any examples about this?

[2019-12-12 11:29] #407 closed

[2019-12-13 17:19] #405 closed

[2019-12-13 23:05] goyalankit opened #408 "Add support for shiv/pex python packages"
Zipping Venv is not a very reliable way of packaging python as it ships interpreter in the zip file which may or may not work with .so available on the target host. So add support for running executables from other package managers like shiv or pex.

[2019-12-13 23:12] goyalankit opened #409 "Add support for shiv/pex python packages"
Zipping Venv is not a very reliable way of packaging python as it ships interpreter in the zip file which may or may not work with .so available on the target host. So add support for running executables from other package managers like shiv or pex.

[2019-12-17 09:22] WeponX opened #410 "Does tony support tensorflow 2.0 (such as tf.distribute.experimental.MultiWorkerMirroredStrategy)?"
Does tony support tensorflow 2.0 (such as tf.distribute.experimental.MultiWorkerMirroredStrategy)?

[2019-12-17 17:06] oliverhu commented on #410
yeah, that should be supported.

[2019-12-18 02:14] WeponX commented on #410
Since I'm not familiar with tony and tf-2.0, is there any examples or tutorial based on tensorflow 2.0?

[2019-12-18 07:46] oliverhu commented on #410
@WeponX we will have 1 sometime in Jan

[2019-12-23 12:22] morenn520 opened #411 "Add wait timeout for allocated container registration"
If one container has already been allocated by RM, but fails for some reason, e.g disk problem, AM will hanged, and wait for allocated container registration.

Logs like this:
2019-11-27 16:34:18 INFO  ApplicationMaster:860 - Received registrations from 23 tasks, awaiting registration from 2 tasks.
2019-11-27 16:34:18 INFO  ApplicationMaster:862 - Awaiting registration from task ps 3 in container_

[2019-12-23 12:28] morenn520 opened #412 "Add option to stop application on failure of certain job"
Only untracked jobs, and chief(or chief worker) failure, will cause the application to short circuit.
But for some case, user want to fail fast when evaluator failed, for evaluator will export models.

So I think it should have some option to config which jobs will cause short circuit of application, which is different with this issue. #406

[2019-12-24 08:01] ChengbingLiu commented on #412
#406 handles failure of untracked type of jobs by killing the application, which I believe may not be very appropriate.

"Untracked" means that the application can finish without having them exited, which is quite different from "should kill application on job failure". In fact, the relationship can be summarized as follows

Types | ps | chief | worker | evaluator
------ | --- | ---- | ------- | -

[2019-12-28 20:06] oliverhu commented on #412
Sorry for the late reply, it was holiday season. @ChengbingLiu  @morenn520 from the table provided, I don't see a case that if a job type is untracked, but we should not kill app on failure?

 types | ?
--|----
 untracked | yes
 should kill app on failure | no

[2019-12-30 11:41] pingsutw opened #415 "Support xgboost in TonY"
xgboost already supports distributed training and kubeflow has [xgboost-operator](https://github.com/kubeflow/xgboost-operator) for running distributed training on k8s.
Does TonY plan to support this feature? Maybe I could help to do this feature.

[2019-12-30 11:44] pingsutw commented on #411
@morenn520 I have seen this issue before, it seems that you don't have enough memory to allocate container.

[2019-12-30 18:10] oliverhu commented on #415
xgboost runs on Spark and then on Hadoop. I don't feel it would be super necessary as this solution has been working fine, but feel free to contribute.

[2020-01-02 03:25] morenn520 commented on #412
The table should be as follows:

Types | ps | chief | worker | evaluator
-- | -- | -- | -- | --
Tracked | NO| YES | YES | YES
Untracked | YES | NO | NO | NO
Should kill app on failure | YES | YES | MAY | MAY

@oliverhu I don’t deny that application should be killed on failure of untracked jobtype.

I think that application **might need to be killed on failure of some other tracked jobtype in addit

[2020-01-02 03:42] oliverhu commented on #412
@morenn520 I believe after #406 whenever a job type fails, the whole application will shutdown. Before #406, it was only tracked jobs will cause application to short circuit.

Otherwise, there is a bug..

[2020-01-02 05:30] ChengbingLiu commented on #412
@oliverhu If a job type is tracked, e.g. worker or evaluator, we may still want to kill app on job failure. Current implementation will only fail the application when chief or worker 0 failed:
https://github.com/linkedin/TonY/blob/0c4bd4095d21b2d1ebbf7441d59fe42022714464/tony-core/src/main/java/com/linkedin/tony/tensorflow/TonySession.java#L255

[2020-01-02 06:54] morenn520 commented on #412
@oliverhu After #406 , it was only chief and untracked jobs will cause application to short circuit, which can not solve our problem.

We may still want to kill app on evaluator(or worker) failure, and we cannot set evaluator(or worker) as untracked jobtypes.

[2020-01-02 07:07] oliverhu commented on #412
@morenn520 @ChengbingLiu i see, this makes sense

[2020-01-02 23:11] oliverhu commented on #412
merged PR

[2020-01-02 23:11] #412 closed

[2020-01-02 23:11] oliverhu commented on #411
merged pr

[2020-01-02 23:11] #411 closed

[2020-01-03 02:00] morenn520 commented on #411
@pingsutw My Case is YARN NN disk problem, so that allocated container cannot register as expected.

[2020-01-03 14:55] pingsutw commented on #415
@oliverhu Thanks for the reply, I will try to do this feature.

[2020-01-13 05:59] oliverhu commented on #371
closing this, let us know if you still see problems

[2020-01-13 05:59] #371 closed

[2020-01-13 05:59] #361 closed

[2020-01-13 05:59] oliverhu commented on #303
Resovled by @StanfordMCP

[2020-01-13 05:59] #303 closed

[2020-01-13 06:01] oliverhu commented on #32
supported by users' code

[2020-01-13 06:01] #32 closed

[2020-01-13 06:01] #44 closed

[2020-01-13 06:01] #161 closed

[2020-01-13 06:02] #297 closed

[2020-01-13 06:02] #265 closed

[2020-01-13 06:02] #234 closed

[2020-01-13 06:03] #210 closed

[2020-01-13 06:05] #402 closed

[2020-01-13 06:40] #257 closed

[2020-01-15 09:48] iamyourboss opened #418 "Exception in thread "main" java.lang.RuntimeException: Failed to get RM principal"
2020-01-15 17:44:04,142 INFO tony.TonyClient: Fetching RM delegation token..
Exception in thread "main" java.lang.RuntimeException: Failed to get RM principal.
	at com.linkedin.tony.TonyClient.getTokens(TonyClient.java:785)
	at com.linkedin.tony.TonyClient.submitApplication(TonyClient.java:253)
	at com.linkedin.tony.TonyClient.run(TonyClient.java:184)
	at com.linkedin.tony.TonyClient.start(TonyCli

[2020-01-15 11:56] #418 closed

[2020-01-16 08:25] charliechen211 opened #420 "Add option to return SUCCEED when training is completed with some failed job tasks"
![image](https://user-images.githubusercontent.com/5773445/72504267-74800780-3878-11ea-8293-2e0cbc78f5bf.png)

App will be stopped when chief worker (or some certain jobtype), and continue training when other job task fails. It looks reasonable.

![image](https://user-images.githubusercontent.com/5773445/72504503-e5272400-3878-11ea-886b-5a7c1d7d77f6.png)

But in this circumstance, training is fini

[2020-01-16 08:25] morenn520 commented on #420
@oliverhu

[2020-01-16 13:03] oliverhu commented on #420
Agreed, but I am refrained from making the APIs over complicated, any thought on how the configurations would look like?

[2020-01-17 03:17] morenn520 commented on #420
@oliverhu
emmm...I made a PR, in which the configuration naming is not very good.
https://github.com/linkedin/TonY/pull/421/files

I also agreed that it's better to simplify the APIs, or we can cancel this configuration and all completed application with failure tasks will return SUCCEEDED, which is more reasonable.

[2020-01-17 08:10] morenn520 commented on #420
CI failed with following logs:
Too long with no output (exceeded 10m0s): context deadline exceeded

Link: https://circleci.com/gh/morenn520/TonY/2?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

Maybe test has been run too long?

[2020-01-18 15:15] oliverhu commented on #420
Not sure, will take a look tmr

[2020-01-20 06:08] zuston opened #422 "Enable TonY to upload container's model dir/files to HDFS"
Now TonY enable to  upload user-specified resources  using tony.X.resources config param.
Maybe we alse need to upload container's model dir/files to HDFS when using PyTorch which don't support reading and writing HDFS natively.

[2020-01-20 12:41] oliverhu commented on #422
We have a py4j bridge before to interact with hdfs but later deleted. The logic to upload model files should be done via a python hdfs library. The container log is aggregated by NM to hdfs.

[2020-01-21 06:51] zuston commented on #422
Do we need to implement a mechanism to upload output to HDFS by user-specified model output path?

I think it's neccessary. Users do not need to do upload operations in the code explicitly like PyTorch, which is convenient for testing and going online.

[2020-01-21 06:52] zuston commented on #422
Do we need to implement a mechanism to upload output to HDFS by user-specified model output path?

I think it's neccessary. Users do not need to do upload operations in the code explicitly like PyTorch, which is convenient for testing and going online.

[2020-01-21 13:58] oliverhu commented on #422
Yes, you should, since different training frameworks would have different model output expectations. This should be implemented in the client level libraries.

You don’t need to implement this for PyTorch or some specific frameworks, just search for a python HDFS library, there are a ton of them.

[2020-01-28 19:02] oliverhu commented on #239
Assigned to @goyalankit for more investigation.

[2020-02-01 22:38] oliverhu commented on #420
Assign to Ankit to follow up on this issue

[2020-02-14 17:06] josezenteno1992github commented on #93
Hi everyone, do you know if this is resolved? Trying to have Dataproc hadoop sqoop job read password from gs bucket --username=$USERNAME --password-file=gs://test/passwordFile.txt but I keep getting the error Wrong FS: gs://test/passwordFile.txt, expected: hdfs://trailer-m.
Any advice is appreciated!

[2020-02-14 17:34] oliverhu commented on #93
@gogasca idea?

[2020-02-21 22:53] burgerkingeater opened #430 "Tony AM hanging when container being requested is dead"
that container has died because it could not find a GPU, but AM is hanging and waiting for this dead container:
[code]

[2020-02-27 00:43] shuzhang1989 commented on #430
@burgerkingeater  what's your proposal to fix this issue?

[2020-03-06 03:13] WeponX commented on #410
is there any process ?

[2020-03-06 18:28] oliverhu commented on #410
@goyalankit @arde171  please help the read me after the tf 2 test

[2020-03-21 01:10] burgerkingeater opened #432 "fail the job instead of hanging if it's requesting GPU(s) on a host where it doesn't have enough GPU(s)"

[2020-04-01 08:24] douglasren commented on #418
@iamyourboss hi,How did you solve the problem?

[2020-05-14 18:51] oliverhu opened #434 "Add retries id in the environment when we retry"
We want to have the retry id in the container environment to help the recover process.

Initial run: []
First retry: [RETRY_ID:0]
Second retry: [RETRY_ID:1]

[2020-05-20 00:58] goyalankit opened #435 "Retries fail in case untracked task failures"
The retriey logic doesn't work in case one of the untracked tasks fails. It fails with the following error on every retry:

[code]
---

This is due to state being not reset in case one of the untracked tasks fail.

[2020-05-20 01:47] #435 closed

[2020-05-29 21:25] haibchen opened #441 "tony-portal distribution is not published correctly"
tony-portal is a play application that is distributed as a zip file. But right now, jars and javadocs are released to maven instead.

[2020-06-25 20:36] hungj opened #450 "Isolate user's hadoop dependencies from cluster environment"
Right now there is poor isolation between TonY workers and nodemanager since TonY worker will put NM classpath on its JVM. Thus if NMs are upgraded, it can easily break TonY workers.

We should provide some isolation between the two. One possible option is to follow MR/Spark approach (e.g. see https://issues.apache.org/jira/browse/MAPREDUCE-4421), where we put a tarball remotely (e.g. on HDFS) con

[2020-06-26 19:38] goyalankit opened #452 "Add more testing for Tony retry logic"

[2020-08-03 02:28] burgerkingeater commented on #346
@ChengbingLiu `Our experiments shows that removing this env can speed up 3x with TensorFlow training`, can you share more context on this? Were you using GPUs, which tensorflow version you were using? Did the job read data from HDFS? It would be better if you care share the TF code.

The reason we circle back on this is we have seen VM increases 3X if we don't have this option enabled. But since o

[2020-08-06 02:56] ChengbingLiu commented on #346
@burgerkingeater `MALLOC_ARENA_MAX` is used by glibc for controlling the number of arenas.
More infomation:
https://www.gnu.org/software/libc/manual/html_node/Memory-Allocation-Tunables.html
https://devcenter.heroku.com/articles/tuning-glibc-memory-behavior

Our test environment was Wide and Deep model with CPUs, TF 1.13.1 (I don't think TF version is relevant though).

From the timeline in my pre

[2020-08-06 03:11] burgerkingeater commented on #346
@ChengbingLiu  when unsetting this, VM grows more than we would imagine and the 2.1 ratio is not sufficient.
here is what we have seen:
“is running beyond virtual memory limits. Current usage: 2.4 GB of 16 GB physical memory used; 50.9 GB of 33.6 GB virtual memory used. Killing container.”

[2020-08-07 09:18] ChengbingLiu commented on #346
@burgerkingeater what is your glibc version?

[2020-08-07 09:34] ChengbingLiu commented on #346
Try glibc >= 2.17-106 and see whether vmem still explodes.

Or you may just set yarn.nodemanager.vmem-check-enabled=false, or raise vmem-pmem-ratio significantly.

[2020-08-10 19:55] hungj opened #454 "Concurrent tony jobs can corrupt tony_src.zip"
Multiple tony client jobs running on the same machine can corrupt tony_src.zip

[2020-08-15 15:43] furkankaratas opened #458 "Not found cluster error"
I have a problem.

ERROR: (gcloud.dataproc.jobs.submit.hadoop) NOT_FOUND: Not found: Cluster projects/hadoopprojects/regions/global/clusters/tony-staging-1

How can I solve this problem?

[2020-09-14 23:11] hungj commented on #454
Duplicate of #455

[2020-09-14 23:11] #454 closed

[2020-09-14 23:12] hungj opened #464 "Check for app failure before updating task infos"
If AM fails, TonyClient will hang for a while retrying to connect to AM. We should fail faster here.
[code]

[2020-09-15 20:57] burgerkingeater opened #466 "Tony client should show all workers' status"
It's hard to tell which workers are pending from the following log:
[code]

[2020-09-16 06:47] burgerkingeater opened #467 "tony process and tensorflow process should write to the same yarn log"
Currently tony writes to the stdout and underlying TF process writes to stderr, which is not friendly for user to navigate.
![image](https://user-images.githubusercontent.com/1428327/93301518-6db1e780-f7ad-11ea-980d-5bfcd4aa8042.png)

[2020-09-18 05:39] burgerkingeater opened #468 "when one worker fails, tony AM lost the heartbeat to the worker and the whole application exits"

[2020-09-18 05:40] burgerkingeater commented on #468
Am log:
[code]

[2020-09-18 05:41] burgerkingeater commented on #468
failed worker log:
[code]

[2020-09-18 05:41] burgerkingeater commented on #468
worker log:
[code]

[2020-10-13 16:08] Btslade opened #475 ""Exception in thread "main" java.lang.RuntimeException: Failed to get RM principal." When running MNIST example"
While researching this, I discovered that this is an issue in regards to resource management between Yarn and TonY. I am still very new when it comes to both of these tools. I will provide as much information as possible and would greatly appreciate any feedback.

### Versions
[code]

### Command Used:
[code]

### Full error report:
[code]
### resource-types.xml
[code]
### tony-test.xml
[code]

[2020-10-14 20:03] #475 closed

[2020-10-21 00:34] Btslade opened #476 "Tensorflow MNIST_distributed example hanging, taking up GBs on my system, and never completing"
When I run the example Tensorflow MNIST provided, the code hangs, and my hard drive begins to fill up rapidly. Furthermore, once I stop the job, if I try to run another example I get a message detailing that the name node is completely filled and that I have to free up resources to use it again. Is something wrong? Do I need to adjust any files? Or does this program just take a lot of space? For w

[2020-11-04 23:05] oliverhu commented on #476
@Btslade  is this still a problem for you? did you check the logs?

[2020-11-05 17:54] Btslade commented on #476
@oliverhu Thank you for responding. Yes this is still an issue I am having. Looking at the log files, there may be something else at play here. Below I will provide information about the logs contained in the container folders. Just to ensure clarity on the log files I am talking about, I will provide the path below.

'''
/opt/hadoop-3.2.1/logs/userlogs/application_1604590485518_0004
'''

**IN APP

[2020-11-08 23:20] oliverhu commented on #476
That seems to be some environment setup issue. This is what is expected to be in the container log:

[code]

[2020-11-10 05:29] cguegi commented on #410
@oliverhu, @goyalankit, @arde171 is there any update on this? Thank you!

[2020-11-10 05:30] oliverhu commented on #410
it works out of box for us.. @cguegi

[2020-11-10 14:19] cguegi commented on #410
@oliverhu could you provide a small running example? I try to adapt mnist_keras_distributed.py to run on TF 2.3.1, however, I run into several issues. Currently with grpc ps port allocation.

[2020-11-11 18:22] oliverhu commented on #410
sure, we will update the example a bit

[2020-11-11 19:04] oliverhu commented on #410
@cguegi  check this out ? https://github.com/linkedin/TonY/pull/482/files

[2020-11-13 17:30] oliverhu commented on #476
@Btslade we just updated the mnist_keras_distributed example to a much simpler way, try that out as well?

[2020-11-13 17:32] oliverhu commented on #410
closing this

[2020-11-13 17:32] #410 closed

[2020-11-14 16:24] oliverhu commented on #476
feel free to re-open if its still an issue!

[2020-11-14 16:24] #476 closed

[2020-11-14 16:24] #304 closed

[2020-11-14 16:25] #149 closed

[2020-11-14 16:25] #162 closed

[2020-11-14 16:25] #82 closed

[2020-11-14 16:25] #78 closed

[2020-11-14 16:25] #167 closed

[2020-11-14 16:25] #202 closed

[2020-11-14 16:25] #266 closed

[2020-11-14 16:26] #241 closed

[2020-11-14 16:26] #275 closed

[2020-11-19 13:36] cguegi commented on #410
@oliverhu updated example works. Thanks a lot!
I've added below lines in order to run on GPU
  try:
    tf.config.experimental.set_memory_growth(physical_devices[0], True)
  except:
    # Invalid device or cannot modify virtual devices once initialized.
   pass

[2020-11-19 17:20] oliverhu commented on #410
@cguegi  Nice! please submit a PR with those changes!

[2020-11-25 09:46] cguegi commented on #410
@oliverhu PR submitted.

[2020-11-27 03:36] zuston opened #487 "Port conflict when enable port reuse option"
Even with fix in #456 #461 #465. task executor is still subject to port conflict where port could be grabbed by other processes on the host, when the tensorflow process has not been started and waited for more than 1 hour, the reserve_reusable_port python process will end and release the port.

link to code: [code](https://github.com/linkedin/TonY/blob/4b4d3bd4fb92fddaeef37b3205a50d6893b9048c/tony

[2020-11-27 03:37] zuston commented on #487
@burgerkingeater @oliverhu @UWFrankGu Please check it.

[2020-11-27 03:56] burgerkingeater commented on #487
Thanks for reporting the issue. At what condition will the tf process wait
for more than 1 hour before stating the grpc server?

On Thu, Nov 26, 2020 at 7:37 PM zhang_jf <notifications@github.com> wrote:

[2020-11-27 06:00] zuston commented on #487
Our hadoop cluster is busy and Yarn don't support gang scheduler, so it will waiting long time util it can get enough resource.

one ps log as following:

[code]

[2020-11-27 06:01] zuston commented on #487
@burgerkingeater

[2020-11-27 07:18] burgerkingeater commented on #487
@zuston reserve_reusable_port.py already supports time out argument option. Feel free to open a PR to increase the timeout.

[2020-11-27 07:26] zuston commented on #487
yep, thanks your reply. I will open PR

[2020-11-27 08:18] zuston commented on #487
linked [PR](https://github.com/linkedin/TonY/pull/488)

[2020-12-14 20:41] bradmiro opened #492 "tensorflow mnist_distributed.py does not work with 2.3"
When attempting to run the mnist_distributed.py example with TensorFlow 2.3 (per the README) I get the following error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'tensorflow.examples.tutorials'

It looks like this module was removed: https://github.com/tensorflow/tensorflow/issues/32790

Using `mnist_keras_distributed.py` worked.

[2020-12-14 20:56] bradmiro opened #493 "PyTorch Support"
Hi there, I'm working on an update for the [TonY installation script](https://github.com/GoogleCloudDataproc/initialization-actions/tree/master/tony) for GCP Dataproc. While I have been able to (locally) successfully update TensorFlow, I cannot seem to get the PyTorch example working. It does not work on 0.4 (the most recent version you explicitly mentioning [supporting](https://github.com/linkedi

[2020-12-15 01:42] oliverhu commented on #493
@gogasca any idea? guess we need to upgrade the PyTorch example script. I don't see TonY or GCP being the issue here.

[2020-12-15 19:25] bradmiro commented on #493
Great observation and I believe you are correct: [here](https://github.com/linkedin/TonY/blob/12227c7b896388f6d37af8bd8934598031b34290/tony-examples/mnist-pytorch/mnist_distributed.py#L197) it shows the `tcp` backend being used. Adding `--backend gloo` or `--backend nccl` (on a gpu cluster) to `--task_params` changed the error message, so it looks like the example just needs a refresh.

[2020-12-15 22:23] oliverhu commented on #493
@bradmiro would you mind contributing a patch to fix that?

[2020-12-16 18:15] bradmiro commented on #493
Sure, I can look into this.

[2020-12-16 20:58] bradmiro commented on #493
@oliverhu are there special considerations that need to be taken into consideration re: TonY for use with PyTorch? The error seems to be properly configuring [init_process_group](https://pytorch.org/docs/stable/_modules/torch/distributed/distributed_c10d.html#init_process_group).

The current code is this: https://github.com/linkedin/TonY/blob/master/tony-examples/mnist-pytorch/mnist_distributed.p

[2020-12-16 21:33] oliverhu commented on #493
That should not matter, all those backend should work 🤔  Have you tried other backends?

[2020-12-16 22:27] bradmiro commented on #493
The `mpi` runtime does not work without an installation and we don't include this by default in the Dataproc image.

The `nccl` does not seem to work, but I am also testing on a cluster that only has GPUs allocated to workers, not the master. The TensorFlow job seemed to work with GPUs just attached to master, but I am creating a fresh cluster with a GPU attached to the master node as well.

[2020-12-16 23:11] bradmiro commented on #493
`nccl` error with gpus attached to all machines: ```RuntimeError: NCCL error in: /pytorch/torch/lib/c10d/ProcessGroupNCCL.cpp:784, invalid usage, NCCL version 2.7.8```

This might be a PyTorch thing, I can look into it more probably early next week. Unsure about `gloo` as well.

[2020-12-17 00:50] oliverhu commented on #493
`mpi` won't work because that requires SSH across workers, that is not something supported by default in Hadoop distributions.

`nccl` and `gloo` should work though at a glance. We use TensorFlow so not much insight there, but anything not using MPI should work.

[2020-12-17 03:51] zuston commented on #487
fixed.

[2020-12-17 03:51] #487 closed

[2021-01-24 17:55] JLLeitschuh opened #496 "Please open a security advisory"
Hello,

I'm an independent security researcher performing security research under the [GitHub Security Lab Bug Bounty Program](https://securitylab.github.com/). I believe I may have found a security vulnerability in this project.

Please open a security advisory against this repository so we can privately discuss the details. This advisory can be opened by a user with admin permissions on this rep

[2021-01-26 08:02] GaoJianbing opened #497 "Failed to get RM principal"
I tried to run TonY mnist demo use the given command:
cur_path=/data/xx/TonY
java -cp `hadoop classpath`:$cur_path/tony-cli/build/libs/tony-cli-0.4.2.jar:$cur_path/tony-core/build/libs/tony-core-0.4.2.jar:$cur_path/tony-cli/zip4j-2.1.1.jar com.linkedin.tony.cli.ClusterSubmitter \
--python_venv=$cur_path/venv.zip \
--src_dir=$cur_path/tony-examples/mnist-tensorflow \
--executes=mnist_distributed.py

[2021-01-26 22:41] oliverhu commented on #497
try adding to your script
[code]

[2021-01-30 15:37] LiefB opened #498 "Stuck in Executing command"
I tried to run TonY mnist demo use the given command:
[code]

The ps and worker containers are all started.
However, these containers are stuck in Executing command, i.e., the python program is not executed. The logs are listed as follows:
[code]

Thank you very much for your reply.

[2021-01-30 16:35] zuston commented on #498
Please provide a detailed description.
I think you can log in to the corresponding executor machine, and then execute command like 'ps aux | grep python' to check whether the process exists

[2021-01-30 16:57] LiefB commented on #498
My environmental setup are: ubuntu 18.04, python 3.6, TensorFlow 1.13.1, TonY v0.3.28.

According to your advice, I execute the command 'ps aux | grep python' on the corresponding executor machine. The result of the command shows that there exists 3 python processes(1 process for ps and 2 processes for worker as I set up in the configuration of tony.xml). The python processes are listed as follows

[2021-01-30 17:50] LiefB commented on #498
I have found that there is something wrong with the venv/tfenv/bin/python.

[2021-01-30 17:53] LiefB commented on #498
I have found that there is something wrong with the venv/tfenv/bin/python. I think the error happens when the python env is unzipped.

[2021-01-30 17:53] #498 closed

[2021-02-01 02:57] zuston commented on #498
OK ~

[2021-02-04 23:47] bradmiro opened #500 "TonY requests yarn config "yarn.io/gpu" on non-GPU clusters"
I am having an issue with TonY 0.4.3 where my clusters that are not configured with GPUs are failing because it can't find the yarn config "yarn.io/gpu":

[code]

I identified the bug here:
https://github.com/linkedin/TonY/blob/6b097b413f1382f3fa75e6bd2dd36d7aff3f90d2/tony-core/src/main/java/com/linkedin/tony/ApplicationMaster.java#L1059

Seems this was added with TonY 0.4.2. Reverting back to Ton

[2021-02-05 03:45] zuston opened #501 "Support GANG and FCFS distributed mode"
### What?
Now TonY support TensorFlow/PyTorch distributed mode. This means that the task executors started from TonY AM will construct a training cluster for TF.
What is independent-task mode? It differs from above mode. For example, for TF, it will not inject the TF_CONFIG env in task executor. So in multiple task executors, so multiple TF jobs will run independently and not communicate with each

[2021-02-05 03:46] zuston commented on #501
Any ideas on it? @burgerkingeater @oliverhu
If OK, i will submit PR ~

[2021-02-05 03:48] oliverhu commented on #501
I guess you just need to hide TF_CONFIG in env?

[2021-02-05 03:53] zuston commented on #501
Yes. In addition, there is no need to wait for all resources to be satisfied before starting. @oliverhu

[2021-02-05 03:56] oliverhu commented on #501
I see, as far as it doesn't introduce any incompatibility, please go ahead! 🚀

cc @hungj

[2021-02-09 05:21] #497 closed

[2021-02-10 01:07] #501 closed

[2021-02-10 02:52] zuston opened #506 "Tensorflow evaluator should be removed from TF_CONFIG"
### What?
 Tensorflow evaluator config can be removed from TF_CONFIG

### Why?
 I run the Parameter Server Training (single-client, linked to [RFC](https://github.com/tensorflow/community/blob/master/rfcs/20200306-single-client-parameter-server.md)) task on TonY using TF2.4,  task stuck. I have submit the qustion to Tensorflow community, but seems no update on it([linked issue](https://github.com/

[2021-02-10 02:52] zuston commented on #506
@oliverhu Please check it.
If OK, i will submit PR.
Thanks!

[2021-02-10 03:00] oliverhu commented on #506
I don't think having evaluator in TF_CONFIG would cause the job to hang, do you have evidence for that?

[2021-02-10 03:03] zuston commented on #506
When I remove evaluator conf from TF_CONFIG, task runs normally.

[2021-02-10 03:05] oliverhu commented on #506
Is this new in TF 2.4? distributed PS worker strategy works well with evaluator in TF_CONFIG

[2021-02-10 03:07] oliverhu commented on #506
btw, do you also need to remove from CLUSTER_SPEC, or just TF_CONFIG?

[2021-02-10 05:42] zuston commented on #506
Sorry, I made a mistake and correct it that I just remove the evaluator conf from tony.xml, task runs normally.
removed eval conf like following.
[code]

I think yes. Just encountering this problem in PS2.4 single-client PS

I will try it on TonY.

@oliverhu

[2021-02-10 05:51] zuston commented on #506
Besides, traning task with TF2.4 PS strategy will not finish, because the TF worker will not stop, it waits the chief to diliver the task to it.
So how to do it in TonY? Now we should set the tony conf like following

[code]

I think we should add documentation to explain how to use single-client ps strategy. After all, this strategy has changed a lot.

@oliverhu

[2021-02-10 06:28] oliverhu commented on #506
interesting.. good to know. we can't change to untrack ps & worker by default now though since it would break compatibility. Feel free to open a PR to remove evaluator from TF_CONFIG, that sounds fine.

[2021-02-18 11:57] #422 closed

[2021-02-20 06:03] zuston commented on #239
Any update on it ?
Now TonY has supported Horovod ?
I can't find any doc and example.
@oliverhu @goyalankit

[2021-02-21 07:13] oliverhu commented on #239
No, we ended up investing in TF 2 native distributed training strategy than supporting Horovod.

[2021-02-24 17:46] oliverhu commented on #500
fixed with #502 .

[2021-02-24 17:46] #500 closed

[2021-03-05 02:45] zuston commented on #239
We are willing to support horovod on TonY, any ideas on it?
If OK, i will sumit extra issue/PR on it.

[2021-03-05 04:33] oliverhu commented on #239
@zuston and I chatted offline :) Horovod now supports the gloo backend so we might not need to hack around ssh. @zuston will open a new issue to describe the plan. Thanks @zuston !

[2021-03-08 10:08] zuston commented on #506
Sumit new [PR](https://github.com/linkedin/TonY/pull/515) for fixing evaluator error when in estimator multiworker strategy(TF1.14).

I'm sorry that the previous PR was not fully tested.
@oliverhu

[2021-03-29 02:17] #506 closed

[2021-04-12 11:12] zuston opened #525 "Support elastic Horovod on TonY"

[2021-04-13 05:48] kumgaurav commented on #93
try like this:
hadoop_conf.set("fs.default.name", bucketName);
val fs = new Path(bucketName).getFileSystem(hadoop_conf)

[2021-04-14 13:14] zuston opened #526 "Support multiple ml frameworks using generic interface"
To support horovod on TonY, I came up with a new idea by using `MLFrameworkRuntime` to support different frameworks in a more efficient and simple way.

Actually. we should separate these change in another PR to ensure readability.

Refer to here: https://github.com/linkedin/TonY/pull/524#issuecomment-819107357

[2021-04-14 13:15] zuston commented on #526
Any ideas? @oliverhu

[2021-04-14 18:31] oliverhu commented on #526
I agree with this. We can split into possibly 3 PRs. 1 for this refactor, another 1 for creating new RPC endpoints, the last one to make it work Horovod?  @zuston

[2021-04-15 01:08] zuston commented on #526
It’s fine. I will do it later. @oliverhu

[2021-04-17 07:07] daugraph opened #528 "A little mistakes in tony-example README"
I think there is a little mistakes in tony-example, as methioned in [https://github.com/linkedin/TonY/issues/492](url), mnist_distributed.py is write in tensorflow 1.x, but in README, it said

user should install tensorflow 1.x to run mnist_distributed.py

[2021-04-17 07:45] zuston commented on #526
Linked PR: https://github.com/linkedin/TonY/pull/529

[2021-04-17 11:16] zuston commented on #528
Nice catch.  Looks that tf2.x is used in mnist_keras_distributed.py, not mnist_distributed.py

I will fix it later. Thanks

[2021-04-18 11:27] wobfan opened #531 "Classpath of TonY libraries isn't forwarded to AM container launch"
I am running the current TonY build 0.4.6 on my Ubuntu machine with a standalone YARN/Hadoop installation.
The Hadoop installation is working well, but when I try to run something with TonY I get the error `Error: Could not find or load main class com.linkedin.tony.ApplicationMaster` while launching the container.

I ran TonY with
[code]
The TonY java libraries are located in the above mentioned c

[2021-04-18 19:19] oliverhu commented on #531
Take a look at https://github.com/linkedin/TonY/wiki/TonY-Configurations, you can set by using tony.containers.env

[2021-04-20 06:06] wobfan commented on #531
Thanks for your reply!
I am a bit lost, I'm sorry for this.

Could you maybe suggest an example what env variable and how to set it to have the TonY jars used?
I tried
[code]
But I still get the same error unfortunately..

[2021-04-21 09:57] zuston opened #534 "Support standalone runtime type"
### Why
We need to using multiple GPU on single task executor.

[2021-04-22 02:35] #534 closed

[2021-04-22 05:57] wobfan commented on #531
Followup:
I edited `TonyClient.java` so that the environment variables for `CLASSPATH` including the above mentioned folder are hard-coded. After I added the folder containing the TonY jars, it failed because it didn't find the Hadoop classes, so I also included their jar libraries.
After that, it doesn't find the class `com.google.common.base.Preconditions`.

I am a newbie with gradle, but I gues

[2021-04-22 07:01] oliverhu commented on #531
@wobfan did you use the fat jar ? the one like tony-cli-x.x-all.jar ? that should include all dependencies.

[2021-04-22 10:47] wobfan commented on #531
I do not have a `tony-cli-0.4.6-all.jar`, but a `tony-cli-0.4.6-uber.jar`. Do you mean that, or is there supposed to be another one?

I fact, when I use the uber one specifically, I do not get any ClassDefNotFound exceptions for TonY libraries any more, but still the ones for the hadoop libraries..

Thanks for your help!

[2021-04-22 18:42] wobfan commented on #531
You were right, sorry I didn't think about that!

For everyone who encounters the same problem:
I needed to set the `HADOOP_HOME` env-variable in `hadoop/etc/hadoop/hadoop-env.sh` to the `hadoop` home-folder.

Thanks for your help! Appreciate it.

[2021-04-22 18:42] #531 closed

[2021-04-22 18:50] #526 closed

[2021-04-22 18:52] oliverhu commented on #496
@JLLeitschuh sorry for the late reply, added you to the discussion!

[2021-04-22 18:55] #450 closed

[2021-04-22 18:55] #441 closed

[2021-04-24 05:49] #239 closed

[2021-04-27 02:53] zuston opened #536 "[Horovod-Runtime] Introduce custom horovod driver python script in debug mode"
### Why
For debug on production env or extend driver script, we need to introduce custom horovod driver python script in debug mode.

[2021-04-27 02:53] zuston commented on #536
Any ideas on it? @oliverhu

[2021-04-27 03:05] oliverhu commented on #536
why do you need a separate custom driver script just for debugging ?

[2021-04-27 03:18] zuston commented on #536
Not limited to debugging.
For example:
If Horovod is not compatible with our driver script, user can specify custom driver script to train temporarily, no need to wait TonY update

[2021-04-27 03:25] oliverhu commented on #536
i see, pass a flag and we use that instead? (upload & localize similar to other resources)

[2021-04-27 03:28] zuston commented on #536
Yes ~

[2021-04-28 02:42] zuston opened #537 "Introduce pluggable runtime provider"
### Why
When we need to integrate a new framework, we need to support it in TonY. In fact, this is more difficult and time-consuming for newcomer developers. We should provide a way to dynamically specify different framework runtimes instead of being fixed in TonY code.

### How
I think we could do some changes as follows:
1. Allow user to specify framework type and framework runtime. like this
[c

[2021-04-28 02:42] zuston commented on #537
@oliverhu
Any ideas on it?

[2021-04-28 05:52] oliverhu commented on #537
Sounds good to me, what about we follow the YARN shuffle external jar format? config + manifest: https://hadoop.apache.org/docs/current/hadoop-mapreduce-client/hadoop-mapreduce-client-core/PluggableShuffleAndPluggableSort.html

[2021-04-30 05:56] #536 closed

[2021-05-10 03:15] zuston opened #545 "Introduce sidecar tensorboard"
### Why
Currently when using tensorboard in training task, user need to start tensorboard in code. Actually it's unnecessary to start it by user and better to start it by TonY.

So I think it's time to introduce sidecar tensorboard.

[2021-05-10 04:00] oliverhu commented on #545
makes sense, please make it backward compatible. I think it is easier to do it than before with abstracted MLRuntime class :D

[2021-05-10 06:04] zuston opened #548 "Prevent the running containers from stopping when AM crash"
### Why
I found that when the code in AM throws an exception and is not caught by AM, AM will fail, but the container is still running. These containers will become a unowned process and waste resources on Yarn

[2021-05-10 11:49] Adamage opened #550 "How can I provide my training data?"
The documentation is pretty vague. Is it the "--input-dir"  ? How can I reference it inside submitted Python script, when for example the data is on HDFS ?

[2021-05-10 21:05] oliverhu commented on #550
That is up to the user code. What TonY does is to get necessary resources from the cluster and launch your specified Python script.
Say you have a single machine TF script works locally like `./my_training.py --my_happy_input_dir hdfs://default/abc`. You just pass that to tony via `-executes ./my_training.py` and `-task_params   --my_happy_input_dir hdfs://default/abc`

[2021-05-11 02:58] #548 closed

[2021-05-11 06:41] Adamage commented on #550
Ok thank you. So for example, when I create 10 workers on Yarn, how can I reference in the Python code, where the dataset is?

Suppose I upload the *mnist.npz* to hdfs://default/abc. Then in the training user code, should I use some kind of Python HDFS client to pull the data to the worker container? To load it into numpy ?

[2021-05-12 09:48] Adamage commented on #550
Thank you, I think that clears it up.

[2021-05-12 09:48] #550 closed

[2021-05-14 02:16] #545 closed

[2021-05-17 10:21] QiAnXinCodeSafe opened #552 "There is a vulnerability in Protocol Buffers 0.8.1 ,upgrade recommended"
https://github.com/linkedin/TonY/blob/55770d651965ebb8dd7ec0b8e270ca5ab593894d/build.gradle#L18

CVE-2015-5237

Recommended upgrade version：0.8.13

[2021-05-17 10:23] QiAnXinCodeSafe opened #553 "There is a vulnerability in jQuery 3.4.1,upgrade recommended"
https://github.com/linkedin/TonY/blob/55770d651965ebb8dd7ec0b8e270ca5ab593894d/tony-portal/public/portal_assets/jquery-3.4.1.slim.min.js#L1

CVE-2020-11023 CVE-2020-11022

Recommended upgrade version：3.5.0

[2021-05-19 05:32] #553 closed

[2021-05-22 04:22] daugraph opened #559 "Support tf.Estimator example"
Thanks for your excellent work!

As we all know, in TensorFlow, three types of APIs can be used to build models: tf.Session, tf.Keras,and tf.Estimator. TonY only contains tf.Session and tf.Keras example currently. However, tf.Estimator is also very popular among users. So it might be very helpful if TonY can support tf.Estimator example.

If possible, I will send a PR later.

[2021-05-23 00:07] oliverhu commented on #559
It should be straightforward, please go ahead and create a PR, thanks!

[2021-05-31 17:08] #559 closed

[2021-06-30 10:28] zuston commented on #537
I think using Java SPI will be better.

[2021-07-02 10:35] wobfan opened #567 "mnist_keras_distributed not working as .py-file isn't found"
Hello!

Info: running Ubuntu 18.04 LTS (everything up-to-date), TensorFlow 2.4, Python 3.7 - current TonY release.

I'm experiencing problems running the [MNIST Keras example](https://github.com/linkedin/TonY/blob/master/tony-examples/mnist-tensorflow/mnist_keras_distributed.py). Through the application logs, specifically in the `stderr`, I can find the following error on every worker node:
[code]

[2021-07-03 09:12] zuston commented on #567
Could you check the venv.zip valid?

[2021-07-03 09:31] wobfan commented on #567
Hi, thanks for your input! Checked with `unzip -t venv.zip`:
[code]

Also checked the path structure with `unzip -Z1 venv.zip | grep bin/python`:
[code]

Both seem to be correct!

[2021-07-05 02:10] #537 closed

[2021-07-05 05:23] zuston commented on #567
This problem can't be reproduced in my test environment. Could you provide more detail logs in stdout.log. @wobfan

[2021-07-05 06:59] wobfan commented on #567
Hi, sure!

`stderr` output:
[code]

`stdout` output:
[code]

Thanks in advance! :-)

[2021-07-05 09:45] zuston commented on #567
`2021-07-05 08:51:33 INFO  Utils:299 - Executing command: ./resnet152.py`

In the above log, it shows that the `--python_binary_path` is invalid. You can set the python interpreter like `--python_binary_path=venv/bin/python`

Please attach your submitting command.

[2021-07-05 10:28] wobfan commented on #567
Hi @zuston, thanks for your help! It does work now, but the problem was something else.

As usual, the error was on my side - when running the submitting command
[code]
I made a syntax error: if you mark the text with your cursor, you'll see that theres a whitespace after `--executes=mnist_keras_distributed.py \ `... That's why bash doesn't count the following two lines to the command, and "execut

[2021-07-05 10:28] #567 closed

[2021-07-06 02:18] zuston opened #568 "Compatible with Hadoop 2.6.0-cdh5.11.0"
Now in TonY code, there are some codes using the higher Hadoop version api, it's better to let TonY compatible with the older Hadoop version.

[2021-07-06 05:11] zuston opened #569 "[Bug] Fix returning empty map when when using ResourceUtils.getResourceTypeIndex and not initializing resources type info"
I found when calling `ResourceUtils.getResourceTypeIndex` method, it will throw empty hashmap. I think it's Yarn bug. To fix it on TonY, `ResourceUtils.getResourceTypes` can be used.

[2021-07-06 05:21] zuston commented on #569
@oliverhu Please check it.

[2021-07-06 06:31] #569 closed

[2021-07-12 05:20] #568 closed

[2021-07-19 09:18] zuston opened #573 "Introduce timeout of container request"
The lack of Yarn GANG scheduler makes it deadlock when resources are tight.
So it's necessary to introduce timeout of container request to release resources.

[2021-07-19 17:08] oliverhu commented on #573
The resource deadlock problem should be resolved in TF or YARN. I don't think it is the right place to solve it in TonY, maybe we can pivot to support elastic Horovod?

[2021-07-20 02:44] zuston commented on #573
Elastic strategy on framework is the best solution to solve this problem.
However when using current traditional training of static cluster topology, TonY will reserve some resources and wait the rest. This causes low resource utilization and possible deadlock. Hence container request timeout is also needed.

[2021-07-23 05:25] zuston commented on #364
Solved https://github.com/linkedin/TonY/pull/574

[2021-07-23 05:25] #364 closed

[2021-07-26 02:32] #573 closed

[2021-08-03 06:51] zuston opened #578 "Provide tony-submit cli tool to submit app"
Providing tony-submit cli tool to submit app like [angel-submit](https://github.com/Angel-ML/angel/blob/master/angel-ps/bin/angel-submit)

[2021-08-05 07:51] zuston opened #579 "Make task executor's max failed number consistent with AM's max-missed-heartbeats conf"

[2021-08-07 05:23] #579 closed

[2021-08-16 05:33] #212 closed

[2021-08-19 07:43] zuston opened #589 "Introduce generic tony listener interface"
### Why
We need to collect application time of waiting resources and some metrics. So it's better to introduce generic tony listener interface like `SparkListenerInterface`, and for user it's easy to implement custom listener to callback.

### Example
[code]

[2021-08-19 07:44] zuston commented on #589
@oliverhu Please check it

[2021-08-19 16:31] oliverhu commented on #589
Do we need a generic interface? the waiting resources & metrics collection seem needed for all?

[2021-09-02 03:51] zuston opened #593 "[TEST] testAMCrashTonyShouldFail test case takes 7 minutes"

[2021-09-02 15:47] #593 closed

[2021-09-28 08:14] jxfruit opened #601 "Can the training task run with docker container, and the hadoop cluster run without docker container?"
May I have a question about docker mode?
Can the training task run with  docker container, and the hadoop cluster run without  docker container?

[2021-09-28 09:02] zuston commented on #601
@jxfruit  Of course. If want to training on docker, the higher hadoop version should be needed, like hadoop3.x.

Can you describe more details?

[2021-09-29 02:02] jxfruit commented on #601
OK，training codes and tony client will be packaged running on docker, which cannot depend on the docker containerized hadoop cluster, right?
Can u provide some docs?
And are there some examples about my issue?
tks a lot

[2021-09-30 02:06] zuston commented on #601
Doc is [here](https://github.com/tony-framework/TonY#use-a-docker-container). Any question can be issued here.

[2021-10-07 01:03] junwei-h opened #604 "mnist_distributed.py example caused java.io.IOException: Disk quota exceeded"
Running mnist_distributed.py example and got **java.io.IOException: Disk quota exceeded**. Any help is appreciated. I am using 0.3.34 to match my Hadoop 2.7.3.2.6.5.106-2.

`
SLF4J: Class path contains multiple SLF4J bindings.

SLF4J: Found binding in [jar:file:/usr/hdp/2.6.5.106-2/hadoop/lib/slf4j-log4j12-1.7.10.jar!/org/slf4j/impl/StaticLoggerBinder.class]

SLF4J: Found binding in [jar:file:/use

[2021-10-07 14:12] #604 closed, assigned to nobody

[2021-10-08 03:58] zuston opened #606 "Should job fail fast when missing heartbeats ?"
Now when task missed heartbeats, the job will fail fast using [method `onTaskDeemedDead`](https://github.com/tony-framework/TonY/blob/f78e171064237421da27ae00cd620e7f57d409dd/tony-core/src/main/java/com/linkedin/tony/ApplicationMaster.java#L1229). But i think it should keep consistent with container-completed-action, like [method: `processFinishedContainer`](https://github.com/tony-framework/TonY/

[2021-10-08 18:09] oliverhu commented on #606
Agreed..there are some areas of improvements to make the handling more consistent

[2021-10-11 03:45] zuston commented on #606
Close it. Fix #607

[2021-10-11 03:45] #606 closed

[2021-10-12 11:36] zuston commented on #601
@jxfruit
TonY now support two options to run tensorflow/pytorch jobs.
1. python venv
2. using the docker which is depended on Hadoop3.x supporting docker runtime

Could you describe more details on your cluster information like Hadoop version?
If you want to know more about the TonY examples or best practices, please send to my email: junfan.zhang@outlook.com.
Maybe we could chat offline

[2021-10-13 01:47] jxfruit commented on #601
@zuston Thanks a lot. And I have sent an email.

[2021-10-22 02:49] junwei-h opened #612 "mnist_distributed.py example output no model data in the checkpoint folder"
Tensorflow=1.12.0
The checkpoint folder after running the example has

- model.ckpt-0.meta
- checkpoint
- tfevent file
- graph.pbtxt

I expect additional two files like

- model.ckpt-0.data-00000-of-00001
- model.ckpt-0.index

without these two file, there are no way to restore the trained weights.

Do I miss any settings? Thank you.

[2021-11-17 09:47] LanstonWu opened #619 "Confusing of running tensorflow job with TonY on Apache Hadoop"
version:
[code]

I use example from tensorflow, which called: [Basic text classification](https://www.tensorflow.org/tutorials/keras/text_classification), I downloaded example data and unzip it, then uploaded it to hdfs,
[code]
In the traning code, I use tensorflow_io to read data from hdfs, it look like,
[code]
and then I created tony configure file,
[code]
finally run the job,
[code]
the job was

[2021-11-18 03:01] zuston commented on #619
Simply speaking, TonY's implementation principle is to obtain the resources needed for training from Hadoop Yarn, such as machine nodes, memory, and CPU/GPU. After obtaining the machine resources (TonY task executor).

The distributed TensorFlow training needs to specify the `tf_config` environment configuration for each role(refer to https://www.tensorflow.org/guide/distributed_training). Therefo

[2021-11-22 03:23] LanstonWu commented on #619
Thank you. I've learned.

[2021-11-22 03:23] #619 closed

[2021-11-25 03:25] zuston opened #620 "Task executors that support specific roles are restarted when they fail"
### Why
Now TonY introduces the Sidecar Tensorboard, but sometimes it will fail due to hardware problems and unstable HDFS. But for users, it's better to unconscious restart it.

So we need to introduce the general mechanism to meet above requirements

[2021-11-25 03:26] zuston commented on #620
@oliverhu Please check it.

Further more, maybe elastic training also need above feature.

[2021-12-07 12:51] #589 closed

[2021-12-15 21:27] kevincloutier opened #627 "Guava Conflict?"
Has anyone experienced the well-known Preconditions.checkArgument error (below) when running the standard mnist example? Often this points to an incompatibility with quava, though I have found two guava jars within Hadoop, both are 27 (common/lib/guava-27.0-jre.jar and hdfs/lib/guava-27.0-jre.jar).

Any help would be appreciated.

`Exception in thread "main" java.lang.NoSuchMethodError: com.google

[2021-12-15 22:13] kevincloutier commented on #627
I believe I see the issue, the jar I was using for TonY had guava 11, it was a precompiled jar. Unfortunately I can't compile TonY on my platform (arm) due to tony-core requiring com.google.protobuf:protoc:2.5.0, which doesn't exist for arm. Has anyone been able to compile TonY on arm? If so, any pointers would be appreciated.

[2021-12-21 18:41] #627 closed

[2021-12-21 18:42] kevincloutier commented on #627
I was able to overcome my issue by building the cli on Ubuntu x86 and using that jar on ARM.

[2022-01-05 23:37] #612 closed

[2022-01-05 23:38] #601 closed

[2022-01-09 13:19] zuston opened #632 "TonY Client allow users to specify jars to container runtime classpath"
### Why
One user reported that their cluster lacked some jars, which caused problems when running TonY. So if we can directly support the specified jar in the cli, we don't need to add jars to cluster and restart it.

Because the people of devops and users sometimes are two parts. If it's supported, will improve usability.

[2022-01-13 12:01] zuston opened #634 "CI looks unstable"

[2022-01-19 03:42] zuston opened #636 "Allow that one role of task executor could make other roles exit"
### Why
Sometimes when using Tensorflow estimator api, user will do some other things in the role of `CHIEF` after training finished, but that will cause a lot of waste of resources `PS` used.

So maybe we need to introduce new mechanism to allow users to mark training job finished in their python script and notify AM to stop other task executors.

[2022-01-19 03:43] zuston commented on #636
Maybe this is a great improvement for saving resources. @oliverhu Please let me what you think.

[2022-01-19 07:12] oliverhu commented on #636
Can you elaboate a bit more? It is not a problem for us

[2022-01-19 07:22] zuston commented on #636
As we know that PS wont stop until chief finished. But actually this is only for training.
If chief has two tasks:
1. training. Need to cooperate with PS.
2. do some other tasks which maybe a time-consuming operation. No need to cooperate with PS.

[2022-01-19 09:50] zuston opened #637 "The process of task executor is still alive when existing NM marked as lost node by RM"
### Background
I found that the process of task executor is still alive when existing nm marked as lost node by rm. This will cause some accidents.
But actually if the job exit, task executor should exit due to the unreachable heart beat. Unfortunately，TonY just only throw exception in thread pool, so the main thread will not exit.

### How to solve
In main thread of task executor, the exception o

[2022-01-20 00:14] #637 closed

[2022-01-20 05:42] zuston commented on #634
Failed test case stacktrace:
1. https://app.circleci.com/pipelines/github/tony-framework/TonY/738/workflows/5225d47d-e635-411a-94a9-511f1012cfff/jobs/731

[2022-01-20 23:54] #634 closed

[2022-02-05 00:35] oliverhu opened #641 "Configurable status when dependency times out"
Follow up from #621 .
In some of the cases, we don't want to fail the whole job even though a dependency times out. For example, if `chief` succeeded and there is a `worker` hanging for 1 hour, users can configure the job to still pass.

[code]
@zuston thoughts?

[2022-02-05 02:31] zuston commented on #641
Make sense

[2022-02-05 02:38] zuston commented on #632
This feature could be supported by the config of `tony.containers.resources`, please refer to https://github.com/tony-framework/TonY/wiki/TonY-Configurations

[2022-02-05 02:38] zuston commented on #632
Close it.

[2022-02-05 02:38] #632 closed

[2022-02-06 02:14] #641 closed

[2022-02-06 02:26] zuston commented on #641
Updated version on https://github.com/tony-framework/TonY/pull/643 @oliverhu

[2022-02-08 02:36] oliverhu commented on #620
Sounds good to me

[2022-02-14 03:53] zuston opened #644 "[Optimization] Seperate the interface of registerTask and getClusterSpec in TaskExecutor"
Now TonY task executor use the rpc interface of `registerWorkerSpec` and block wait until the returning result  is not null.
But it's better to seperate the interface of registerTask and getClusterSpec and it will make it easy to control their behaviour.

[2022-02-14 03:55] zuston opened #645 "[Optimization] Introducing the config of timeout that task executor register to AM"
Depends on #644

[2022-02-22 05:23] #644 closed

[2022-02-28 06:04] #645 closed

[2022-03-07 02:51] zuston opened #651 "Get task executor's python subprocess exit detailed diagnostics message"
### Why
Currently, TonY only get the executor's exit code and then attach on the Yarn diagnostics panel. If we could get the detailed python exit detailed diagnostics message, it will be better to statistical analysis and debug.

Maybe the first step is to separate the python's process error and standard output to different files.

And then we could get the error msg if exit code is non-zero.

[2022-03-12 15:27] #356 closed

[2022-03-12 15:32] zuston commented on #341
Closed. Feel free to open if having any ideas.

[2022-03-12 15:32] #341 closed

[2022-03-12 15:34] zuston commented on #373
Lacking of detailed information. Closed

[2022-03-12 15:34] #373 closed

[2022-03-12 15:44] zuston commented on #430
Maybe the config of `tony.container.allocation.timeout` can be applied to solve this.

[2022-03-12 15:44] #430 closed

[2022-03-12 15:46] zuston commented on #467
Solved by #652

[2022-03-12 15:46] #467 closed

[2022-03-12 15:47] zuston commented on #466
Solved by #474. Thanks @burgerkingeater

[2022-03-12 15:47] #466 closed

[2022-03-12 15:50] zuston commented on #458
Sorry for missing this issue.
Closed. Please feel free to reopen if having this problem again.

[2022-03-12 15:50] #458 closed

[2022-03-12 15:55] zuston commented on #468
I think this is a correct action to handle missed-heartbeat of one worker. @burgerkingeater

Close it. Please feel free to reopen if having any ideas.

[2022-03-12 15:55] #468 closed

[2022-03-12 15:58] #496 closed

[2022-03-12 16:11] zuston opened #657 "Instability test case of testTonyAllocationTimeoutShouldFail"
Failed test case:
https://circleci.com/api/v1.1/project/github/tony-framework/TonY/781/output/103/0?file=true&allocation-id=622cbafdeff8a4502d31c72c-0-build%2F5775FA5E

Maybe the AM has failed.

[2022-03-13 04:35] #657 closed

[2022-03-25 10:54] zuston opened #658 "Support venv of tar.gz compression algorithm"
Currently, venv only can be compressed with zip format. Maybe we should support `tar.gz` format.

[2022-04-12 06:41] zuston opened #659 "Introduce the simple TonY web dashboard"
Currently, when retrieving detailed information of task executor, we have to dig the AM log and then find the corresponding task executor's log url.

Maybe we could introduce the TonY web dashboard, which will show extra info, like
1. tensorboard url
2. task executors' state and log url
3. ...

[2022-04-17 15:41] zuston commented on #659
![761650209402_ pic](https://user-images.githubusercontent.com/8609142/163721811-6b064c7d-6933-4f28-8bbe-a1dd07bc1d96.jpg)

[2022-04-18 07:35] #659 closed

[2022-04-27 19:18] oliverhu opened #664 "ConcurrentModificationException when we traverse registeredTasks"
We observed this failure when run 700+ workers

[code]
`registeredTasks` is updated in a separate thread and can be updated whie we traverse it. We need to make sure `registeredTasks` can be safely passed to .stream().forEach().

[2022-04-28 03:22] zuston commented on #664
https://github.com/tony-framework/TonY/pull/665 solved.

[2022-04-28 03:22] #664 closed

[2022-05-05 06:26] zuston opened #666 "Optimize the TonY AM web dashboard page"
The simple AM web dashboard is implemented by #659. Maybe we should make it more beautiful in this issue.

[2022-05-21 15:27] zuston commented on #666
![p1](https://user-images.githubusercontent.com/8609142/169658396-1166cb17-ad35-4762-886d-a9d357851389.jpeg)

[2022-05-22 04:16] zuston commented on #666
#667 @oliverhu

[2022-05-22 04:38] #666 closed

[2022-05-24 16:18] Alpaca4610 opened #670 "Failed to get RM principal"
Hi, I have the following problem when I run the pytorch program using TonY. How can I solve this problem please? Thank you for your help!

`2022-05-25 00:11:50,366 INFO tony.TonyClient: Running with secure cluster mode. Fetching delegation tokens..
2022-05-25 00:11:50,367 INFO tony.TonyClient: Fetching RM delegation token..
Exception in thread "main" java.lang.RuntimeException: Failed to get RM pr

[2022-05-25 01:28] oliverhu commented on #670
Most likely it is because you're not running in a secure cluster (not kerberized). You can set `tony.application.security.enabled` to `false`

[2022-05-25 12:34] Alpaca4610 commented on #670
Thank you for your help!

[2022-05-25 12:34] #670 closed

[2022-05-25 16:55] Alpaca4610 opened #672 "Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/hadoop/fs/FSDataOutputStream"
Hi, I have a new problem running the pytorch program with TonY. The problem seems to be related to hadoop classpath. The error is reported as follows.
`Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/hadoop/fs/FSDataOutputStream`
I executed the following command, but it still doesn't work.
`export HADOOP_CLASSPATH=$(find $HADOOP_HOME -name '*.jar' | xargs echo | tr ' ' ':')`

[2022-05-26 00:22] oliverhu commented on #672
you can set the ENV with the `tony.containers.envs` config

[2022-05-26 06:22] ckqqqq opened #673 "ERROR ApplicationMaster:496 - Exception while preparing AM org.apache.hadoop.yarn.exceptions.YarnException: Can't resolve the ip of ubuntu at com.linkedin.tony.util.Utils.getHostNameOrIpFromTokenConf(Utils.java:365) at com.linkedin.tony.ApplicationMaster.prepare(ApplicationMaster.java:476) at com.linkedin.tony.ApplicationMaster.run(ApplicationMaster.java:368) at com.linkedin.tony.ApplicationMaster.main(ApplicationMaster.java:342)"
Hello,  I have a new problem running the pytorch program in a pseudo-distributed Hadoop environment. The management page of yarn reports this error.
The error is reported as follows.
2022-05-26 13:55:00 WARN  NativeCodeLoader:60 - Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
2022-05-26 13:55:01 INFO  ApplicationMaster:448 - Preparing applica

[2022-05-26 06:43] zuston commented on #673
It looks like you set the nm host is `ubuntu`? But it can't be resolved to ip.

[2022-05-27 09:40] ckqqqq commented on #673
I can access the management page of yarn when typing ubuntu:8042 into my browser.

[2022-07-11 20:57] #672 closed

[2022-07-26 07:18] tonywang-sh opened #675 "tony-core runtime error"
There are error messages about tony.TonyClient when runing tony task on yarn and hadoop 3.2.2. The error messages are as the below. How to deal with these errors?

2022-07-26 06:35:41,245 WARN ipc.Client: Exception encountered while connecting to the server
org.apache.hadoop.security.AccessControlException: Client cannot authenticate via:[KERBEROS]
        at org.apache.hadoop.security.SaslRpcClie

[2022-07-29 02:06] zuston commented on #675
If u submit tony app to secured cluster, the machine must be certified, which means keytab or principle must be provided.

I think you could use this machine to submit spark app for test. If it's ok, the tony app also can be submitted to cluster.

[2022-07-29 09:30] tonywang-sh commented on #675
Thanks for your reply. The cluster is hadoop 3.2.2 with kerberos, and I tried spark example successfully.  I tried minist-tensorflow example according to the guide, https://github.com/tony-framework/TonY/tree/master/tony-examples/mnist-tensorflow, but it failed.  Do I need any other setting or configuration for this task?

[2022-07-29 10:08] zuston commented on #675
Please attach the detailed error log and submit cli command args/ tony.xml and so on.

[2022-08-03 06:15] tonywang-sh commented on #675
**cli command:**
#!/usr/bin/env bash
java -cp `hadoop classpath`:/data/tony-dist/tony-cli-0.5.3-uber.jar com.linkedin.tony.cli.ClusterSubmitter \
--python_venv=/data/venv/myvenv.zip \
--src_dir=/data/tony-dist/mnist-tensorflow \
--executes=mnist_distributed.py \ # relative path inside src/
--task_params="--steps 1000 --data_dir /user/test/tony/data --working_dir /user/test/tony/model" \ # You can

[2022-08-08 02:01] zuston commented on #675
Is the same problem? https://github.com/tony-framework/TonY/issues/672

It looks the nodemanager machine don't have the complete hadoop environment.

[2022-08-08 09:10] tonywang-sh commented on #675
Got it, I have updated hadoop environment, and it reported python error as the below.
<img width="1355" alt="image" src="https://user-images.githubusercontent.com/731029/183382632-47e7fe1f-d414-4cc8-98cd-82abab0c28b3.png">

**The error: ModuleNotFoundError: No module named 'contextlib'**

[2022-08-08 10:41] zuston commented on #675
You should package your pyenv zip at linux system machine same as the NM system. @tonywang-sh

[2022-08-09 01:35] tonywang-sh commented on #675
My package pyenv  is set at ubuntu 18.04 system according to the guide https://github.com/tony-framework/TonY/tree/master/tony-examples/mnist-tensorflow. Do you have another guide about setting up nomachine system package env to package this pyenv zip? Thanks.

[2022-08-09 02:09] zuston commented on #675
Conda is also OK. If you want to check whether the env is OK, you could launch it in local machine.

[2022-08-09 02:17] tonywang-sh commented on #675
I used anaconda to package virtualenv python and obtained virtualenv pyenv zip, but this pyenv zip can not work at worker nodes. Is it right method?

[2022-08-09 04:06] zuston commented on #675
Does this pyenv can be used in your local machine?

[2022-08-09 05:25] tonywang-sh commented on #675
It worked in local machine by using "ven/bin/python " cmd line, but failed in remote worker node by submitting task with TonY script.

[2022-08-10 07:13] zuston commented on #675
I guess this is caused by your local machine' env is not consistent with the nodemanager.

[2022-08-10 07:48] tonywang-sh commented on #675
If pyenv is packaged by virtualenv or anaconda, does it need to activate this pyenv python environment at the worker node, such as the comand, 'venv/bin/activate' before the task start at the worker. But I didn't find this "activate" operation in TonY project.